@charset "UTF-8";
.iconfont {
	display: inline-block;
	font-family: "iconfont";
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,body {
	height: 100%;
	background: #F1F1F5;
	-webkit-tap-highlight-color: transparent;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
} 
body {
	color: #333333;
	font-size: 14px;
	font-family: "TrebuchetMS","Rotobo","Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif, "Helvetica Neue", Helvetica, Arial;
}

h1,h2,h3,h4,h5,h6,i,em {
	font-weight: normal;
	font-style: normal;
}
input[type=submit], input[type=reset], input[type=button], button,select {
	-webkit-appearance: none;
}
ol,ul,menu {
	list-style: none outside none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);  }
a:focus{ outline:none; -moz-outline:none;}
a:visited{ outline:none; -moz-outline:none;} 
a img {
	border: none;
}

.fixed {
  position: fixed !important;
  width: 100%;
  max-width: 640px;
  top: 0;
  z-index: 20;
}

.hidden {
	overflow: hidden !important;
}

.block {
	display: block !important;
}
.z-index0 {
  z-index: 4 !important;
}
.hide{
	display: none;
}


/* 常见样式定义 */
.mar5 {
    margin-left: 5px;
    margin-right: 5px;
}
.mt9 {
	margin-top: 9px;
}
.mt12 {
	margin-top: 12px;
}
.mt15 {
	margin-top: 15px;
}
.mb40{
	margin-bottom: 40px;
}
.mar10-top{
	margin-top: 10px;
}
.mar15-left{
	margin-left: 15px;
}
.mar10-left-right{
	margin-left: 10px;
	margin-right: 10px;
}
.w90-per{
	width: 90%;
}

.fs-14{
	font-size: 14px !important;
}
.font-bold{
	font-weight: bold;
}
.vertical-botton{
	vertical-align:text-bottom
}

.red-color {
	color: #F83838 !important;
}
.blue-color {
	color: #4285f4 !important;
}
.pink-color {
	color: #f6686e !important;
}
.green-color {
	color: #0e9a0c !important;
}

.grey-color {
	color: #808080 !important;
}
.section-status-btn{
	color: #fff;
	font-size: 12px;
    padding: 1px 4px;
    background-color: #17a2b8;
    border-radius: 2px;
}
.course-price-color{
	color: #ff6d6d;
}
.section-update-num{
	color: #4285f4;
}
.sale-on-btn{
	color: #fff;
	line-height: 20px;
    padding: 0px 5px;
    background-color: #ff976a;
    border-radius: 2px;
}
.weui_tab{
	overflow-y: scroll;
}
.weui_tabbar{
	position: fixed;
}
.hide {
	display: none !important;
}
.hidden {
	visibility: hidden !important;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.text-center{
	text-align: center;
}
/* 清除浮动 */
.clear { *zoom: 1; }
.clear:before, .clear:after { display: table; line-height: 0; content: "";}
.clear:after { clear: both; }

/* 页面整体布局 */
.page-container{
	position: relative;
	max-width: 640px;
	margin: 0 auto;
	height: 100%;
}
.max-width-640{
	max-width: 640px;
}
.cbox {
    display: -o-box;
    -o-box-align: center;
    -o-box-pack: center;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
	position: relative;
}
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__label{
	color: #f16722;
}
.footer-nav .weui-tabbar__icon {
	border-radius: 50%;
}
.footer-nav{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
	max-width:640px;
    background-color: #fff;
		z-index: 101;
		color: #f16722;
	border-top: 1px solid #f1f0f5;
}
.footer-nav .weui-tabbar__label {
	color: #f16722;
	font-family: 'STSongti-SC-Light';
	font-weight: 700;
}

/* 新样式共用 */
.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.flex_all {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 20%;
}
.flex0 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex0_1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.flex1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.flex_g0 {
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.flex10 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.img-box .img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    font-size: 0;
}
.img-box .img img {
    width: 100%;
}
.learned {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px 6px;
    font-size: 10px;
    position: absolute;
    color: white;
    font-weight: normal;
    bottom: 3px;
    right: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.learned::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
	margin-right: 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid white;
}

/* 顶部导航标题 */
.header-2 {
    font-family: "微软雅黑";
    padding: 0 15px;
    line-height: 46px;
    font-size: 16px;
    text-align: center;
    height: 46px;
    overflow: hidden;
    color: #585858;
    background: #FFFFFF;
    border-bottom: 1px #e1e1e1 solid;
}
.header-2 .title {
    max-width: 80%;
    height: 45px;
    overflow: hidden;
}
.header-2 .go-index {
	right: 10px;
    background: url(../../images/ico-go-index.png?v=1) no-repeat;
}
.header-2 .go-back {
	left: 10px;
    background: url(../../images/ico-go-back.png) no-repeat;
}
.header-2 .go-lesson-index {
	left: 10px;
    background: url(../../images/ico-go-lesson-index.png) no-repeat;
}
.header-2 .go-back, .header-2 .go-lesson-index,.header-2 .go-index {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.header-2 .ico {
	position: absolute;
    top: 12px;
    overflow: hidden;
    background-size: contain !important;
}

/* 版权信息 */
footer {
    color: #999;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: 24px 20px 80px 20px;
}
footer a{
	color:#969696;
}

/* 加载更多 */
.loading_div{
	padding: 15px 0;
	height: 15px;
	text-align: center;
}
.loading_div .loading_bd{
	height: 100%;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../../images/loaded.png?v=3) no-repeat center;
	background-size: auto 100%;
}
.loading_div a{
	font-size: 12px;
	color: #4a4a4a;
}

/* 课程详情页章节列表 */
.course-sections{
	padding:0px 5px!important;
	background:#fff
}
.course-sections li{
	position:relative;
	height:40px;
	line-height:40px;
	padding:0 3px;
	border-bottom:1px solid #f1f1f1;
}
.course-sections a{
	width:88%;
	display:block;
	font-size:14px;
	text-decoration:none;
	color:#444;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.course-sections a:hover,.course-sections a:visited{
	color:#444;
}

/* 数据为空样式 */
.empty-data {
	position: relative;
	display: table;
	width: 100%;
	min-height: 285px;
	text-align: center;
}
.empty-data .empty-msg {
	display: table-cell;
	vertical-align: middle;
}
.empty-data .empty-msg h4 {
	font-size: 18px;
	font-weight: bold;
}
.empty-data .empty-msg span {
	font-size: 12px;
}

/* 手机屏幕尺寸适配 */
@-webkit-keyframes swiper-preloader-spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes swiper-preloader-spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0.0)
	}

	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes bouncedelay {
	0%, 80%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}

	40% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

/* 首页课程分类 */
.grid_wrap {
	padding: 10px;
	background: #FFF;
	position: relative;
}

.grid_wrap.grid_wrap_3 .grid_item {
	width: 32.3%;
}

.grid_wrap:after {
	content: "";
	display: block;
	clear: both;
}

.grid_wrap:before {
	content: " ";
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	color: #d9d9d9;
	bottom: -1px;
	border-bottom: 1px solid #d9d9d9;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
}

.grid_wrap .grid_item {
	float: left;
	display: block;
	width: 19%;
	padding: 5px .5%;
	text-align: center;
}

.grid_wrap .grid_item img {
	border-radius: 5px;
	height: 36px;
}

.grid_wrap .grid_item .grid_hd {
	margin: 0;
}

.grid_wrap .grid_item .grid_bd {
	height: 20px;
	overflow: hidden;
	color: #515156;
	font-size: 13px;
}

.bor_no:before {
	border-bottom: none !important;
}

/* 记录为空样式 */
.my_empty {
	position: relative;
	left: 0;
	width: 100%;
	height: 300px;
	background: #FFF;
}

.empty_bd {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -60px;
	padding-top: 70px;
	width: 100%;
	height: 50px;
	text-align: center;
}

.empty_bd:before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -40px;
	width: 80px;
	height: 60px;
	background: url(../../images/ico_empty.png) no-repeat;
	background-size: 100%;
}

.empty_bd h3 {
	line-height: 1.8em;
	font-size: 15px;
	color: #7e7e84;
}

.empty_bd p {
	line-height: 24px;
	font-size: 12px;
	color: #8e8e93;
}

.empty_bd a {
	color: #8e8e93;
}
.my_course_empty:before {
	background-position: 0 0;
}

/* 我的课程、优惠券选项卡切换 */
.tab_wrap {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0px;
	background: #FFF;
}

.tab_wrap:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-bottom: 1px solid #EAEAED;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	z-index: 0;
}

.tab_wrap.tab_fixed_top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10
}

.tab_wrap .tab_item {
	position: relative;
	-webkit-flex: 1;
	flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	text-align: center;
}

.tab_wrap .tab_item a {
	position: relative;
	display: inline-block;
	padding: 15px 10px;
	min-width: 2em;
	line-height: 1em;
	font-size: 13px;
	color: #989898;
	-webkit-tap-highlight-color: transparent;
}

.tab_wrap .tab_item.tab_item_on a {
	color: #1d1d1d;
	font-weight: bold;
}

.tab_wrap .tab_item.tab_item_on a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-bottom: 5px solid #d7b262;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	z-index: 2;
}


/* 右侧导航 */
.btn_mark {
	display: inline-block;
	position: fixed;
	bottom: 140px;
	right: 15px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	width: 42px;
	height: 42px;
	z-index: 111;
}
.btn_mark .btn_mark_bg {
	display: inline-block;
	position: fixed;
	bottom: 140px;
	right: 15px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	width: 42px;
	height: 42px;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	z-index: 97;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}
.btn_mark .btn_menu {
	z-index: 100;
	width: 42px;
	height: 42px;
	line-height: 42px;
	border-radius: 50%;
	position: fixed;
	display: inline-block;
	z-index: 98;
	text-align: center;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: all .3s .3s;
	-moz-transition: all .3s .3s;
	-webkit-transition: all .3s .3s;
	-o-transition: all .3s .3s;
	bottom: 140px;
	right: 15px;
}
.btn_mark .btn_menu i {
	color: #fff;
	font-size: 24px;
}
.btn_mark .btn_menu.btn_my {
	background: #23abf1;
}
.btn_mark .btn_menu.btn_index {
	background: #ed6f71;
}
.btn_mark .btn_menu.btn_course {
	background: #25c981;
}
.btn_mark .btn_menu.btn_spread {
	background: #f8ba44;
}
.btn_mark .btn_home {
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
.btn_mark.active .btn_mark_bg {
	width: 100%;
	height: 100%;
	bottom: 0;
	right: 0;
	border-radius: 0;
}
.btn_mark.active .btn_home {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.btn_mark.active .btn_menu {
	opacity: 1;
}
.btn_mark.active .btn_menu.btn_my {
	-webkit-transform: translate3d(0, 80px, 0);
	transform: translate3d(0, 80px, 0);
}
.btn_mark.active .btn_menu.btn_index {
	-webkit-transform: translate3d(0, -80px, 0);
	transform: translate3d(0, -80px, 0);
}
.btn_mark.active .btn_menu.btn_course {
	-webkit-transform: translate3d(-70px, 40px, 0);
	transform: translate3d(-70px, 40px, 0);
}
.btn_mark.active .btn_menu.btn_spread {
	-webkit-transform: translate3d(-70px, -40px, 0);
	transform: translate3d(-70px, -40px, 0);
}
.btn_home {
	position: fixed;
	bottom: 140px;
	right: 15px;
	z-index: 100;
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background: #676d77;
	color: #FFF;
	border-radius: 50%;
	opacity: 0.7;
}

ope .btn_home.btn_home_on {
	bottom: 14px;
}

.btn_home i {
	font-size: 14px;
}

.btn-scroll-up{
	display: none;
    position: fixed;
    bottom: 90px;
    right: 15px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    z-index: 111;
	box-shadow: 0 1px 1px #888888;
}
.btn-scroll-up .btn_scroll_home {
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 100;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
    opacity: 0.7;
	box-shadow: 0 -1px 1px #888888;
}
.btn-scroll-up .btn_scroll_home i{
	color: #808080;
    font-size: 30px;
    vertical-align: -5px;
    font-weight: 100;
}

/* 首页底部标语 */
.slogan_wrap {
	padding: 5px 0 20px;
	height: 13px;
	background: #FFF;
}
.slogan_wrap .slogan_bd {
	height: 120%;
	text-indent: -9999px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
}

/* 首页顶部搜索框 */
.index-search {
    position: relative;
    border-radius: 4px;
    padding: 5px 2px;
    background: transparent;
}
.index-header-search {
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px #dedede solid;
}

.index-header-search .fa-search {
	color: #8e8e93;
}

.index-header-search .u-search {
	margin: 0 auto;
	width: 90%;
}

.index-header-search .u-search .i-search {
	display: block;
	position: absolute;
	top: 6px;
	left: 9px;
	width: 15px;
	height: 15px;
	font-size: 15px;
	line-height: 15px;
	color: #a9a9a9;
}

.index-header-search .search_input {
	display: inline-block;
	margin: auto 6px;
	border: 0;
	border-radius: 0;
	padding: 3px 0;
	width: 70%;
	height: auto;
	font-size: 14px;
	line-height: 34px;
	background: #ffffff;
	outline: 0;
}

.index-header-search .search-btn {
    position: absolute;
	top: 10px;
    right: 10px;
    background-color: #eee;
    padding: 5px 15px;
    border-radius: 25px;
}

/* 顶部引导关注公众号 */
.follow_topbar {
	height: 44px;
	width: 100%;
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
}

.follow_topbar .headimg {
	height: 32px;
	width: 32px;
	padding: 6px;
	float: left;
}

.follow_topbar .headimg img {
	height: 32px;
	width: 32px;
}

.follow_topbar .info {
	height: 28px;
	padding: 8px 0px;
}

.follow_topbar .info .i {
	height: 14px;
	line-height: 14px;
	color: #ccc;
	font-size: 12px;
}

.follow_topbar .info {
	height: 40px;
	float: left;
}

.follow_topbar span {
	color: #ff6600
}

.follow_topbar .sub {
	height: 24px;
	width: auto;
	background: #32cd32;
	padding: 0px 10px;
	margin: 10px 8px 10px 0px;
	float: right;
	font-size: 12px;
	color: #fff;
	line-height: 26px;
	border-radius: 3px;
}

.follow_topbar .sub a{
	color: #fff;
}


/* 首页公告 */
.article_div {
    background-color: white;
    border-top: 1px solid #f1f0f5;
}
.article_div .icon_new {
    width: 52px;
    height: 40px;
    border-right: 1px solid #f1f0f5;
    background-image: url('../../images/ico-inform.png?v=1');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px auto;
}
.article_div .article_div_list {
    margin: 0 8px;
    height: 40px;
    overflow: hidden;
    position: relative;
}
.article_div .article_div_list > li:nth-child(1) {
    top: 0;
}
.article_div .article_div_list > li {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 43px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #494949;
    font-size: 14px;
    position: absolute;
    top: 40px;
}
.article_div .article_div_list > li > a{
	color: #494949;
}
.article_div .more {
    margin-right: 13px;
    padding-left: 13px;
    line-height: 40px;
    border-left: 1px solid #f1f0f5;
}
.more {
    font-size: 12px;
    color: #969696;
    font-weight: normal;
}
.icon_right {
    padding-right: 14px;
    background-image: url('../../images/icon_right.png');
    background-repeat: no-repeat;
    background-size: 6px auto;
    background-position: right center;
}

/* 首页推荐讲师 */
.index_unit {
    padding:15px;
    background-color: white;
}
.index_title {
    font-size: 16px;
    color: #1d1d1d;
    font-weight: bold;
}

.index_title .img {
    min-width: 20px;
    margin-right: 5px;
}

.index_title.bor {
    padding: 15px 20px;
    border-bottom: 1px solid #f1f0f5;
}
.teacher_swiper {
    margin-top: 15px;
    width: 100%;
}
.teacher_swiper .swiper-slide a {
    display: block;
}
.teacher_swiper .img-box {
    padding-bottom: 100%;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}
.teacher_swiper .swiper-slide .job {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px 6px;
    font-size: 12px;
    position: absolute;
    color: white;
    font-weight: lighter;
    bottom: 3px;
    right: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.teacher_swiper .swiper-slide .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #494949;
    text-align: center;
    margin-top: 10px;
}

/*最新课程*/
.new_lesson {
    margin-top: 13px;
    padding-bottom: 15px;
}
.new_lesson .new_lesson_a {
    width: 47%;
    min-width: 163px;
    margin-right: 15px;
}
.new_lesson_a .img-box {
    padding-bottom: 61% !important;
}
.new_lesson_a .img-box {
    padding-bottom: 51.8%;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}
.new_lesson_a .img-box .img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    font-size: 0;
}
.new_lesson_a .img-box .img img {
    width: 100%;
}
.new_lesson_title {
    font-size: 14px;
    color: #1d1d1d;
    line-height: 1.4;
    max-height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
}
.new_lesson_info {
    font-size: 12px;
    color: #494949;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 8px;
}
.new_lesson_bottom {
    border-top: 1px solid #f1f0f5;
    padding-top: 10px;
}
.new_lesson_bottom .time {
    font-size: 11px;
    color: #969696;
}
.new_lesson_bottom .price {
    font-size: 13px;
    color: #ceab6b;
}

/* 推荐板块课程 */
.big_grid {
    display: block;
    margin-top: 13px;
    padding-bottom: 15px;
}
.img-box {
    padding-bottom: 51.8%;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}
.big-img-box{
	padding-bottom: 61%;
}
.grid_title {
    font-size: 14px;
    color: #1d1d1d;
    margin-top: 10px;
}
.fontGrey1 {
    color: #a5a4aa;
}
.overhidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.teacher {
    font-size: 11px;
    color: #969696;
    margin-left: 10px;
}
.grid_info {
    font-size: 13px;
    color: #737373;
    margin-top: 6px;
    min-height: 23px;
}
.grid_info .free {
    font-size: 12px;
    padding: 3px 8px;
    color: white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: #d7b262;
    background-image: -webkit-linear-gradient(bottom, rgba(55,55,55,.33), rgba(188,188,188,.33));
    background-image: -moz-linear-gradient(bottom, rgba(55,55,55,.33), rgba(188,188,188,.33));
    background-image: -o-linear-gradient(bottom, rgba(55,55,55,.33), rgba(188,188,188,.33));
    background-image: -ms-linear-gradient(bottom, rgba(55,55,55,.33), rgba(188,188,188,.33));
    background-image: linear-gradient(to top, rgba(55,55,55,.33), rgba(188,188,188,.33));
}
.grid_info .price {
    font-size: 14px;
    color: #ceab6b;
}
.ico_common {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.ico-hot{
	background-image: url(../../images/ico-hot.png);
}
.ico-new{
	background-image: url(../../images/ico-new.png);
}
.ico-vip{
	background-image: url(../../images/ico-vip.png?v=1);
}
.ico-discount{
	background-image: url(../../images/ico-discount.png?v=1);
}
.small_grid {
    margin: 0 -10px;
    overflow: hidden;
    font-size: 0;
}
.small_grid .small_grid_a {
    display: inline-block;
    vertical-align: top;
    margin-top: 13px;
    padding-bottom: 10px;
    width: 50%;
}
.small_grid_a .img-box {
    padding-bottom: 52.6%;
    margin-left: 10px;
    margin-right: 10px;
}
.small_grid_a .grid_title, .small_grid_a .grid_info {
    margin-left: 10px;
    margin-right: 10px;
}
.small_grid_a .grid_title{
	font-size: 14px;
    color: #1d1d1d;
    line-height: 1.4;
    max-height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
	white-space: unset;
	-webkit-box-align: unset;
}

.article_title_grid{
	padding:13px 0 0 0 !important;
	background:#fff
}
.article_title_grid li{
	position:relative;
	height:40px;
	line-height:40px;
	padding:0 3px;
	border-bottom:1px solid #f1f1f1;
}
.article_title_grid li:last-child{
	border-bottom:none;
}
.article_title_grid a{
	width:100%;
	display:block;
	font-size:14px;
	text-decoration:none;
	color:#444;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.article_title_grid a:hover,.article_title_grid a:visited{
	color:#444;
}
.article_title_grid .index-book-ico{
	display: inline-block;
    width: 17px;
    height: 16px;
    background-image: url(../../images/ico_index_book.png?v=1);
    background-repeat: no-repeat;
    background-size: cover;
}

/* 页面加载loading */
#spinners {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 9999;
}

.spinner {
	margin: 50% 30%;
	width: 40%;
	text-align: center;
}

.spinner > div {
	width: 30px;
	height: 30px;
	background-color: #67CF22;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

/* 首页新会员优惠券弹窗 */
#index-coupon-activity {
    position: fixed;
    top: 0;
    z-index: 102;
    max-width: 640px;
}
.index-coupon-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}
.index-coupon-popup .bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 100px auto;
    top: 50%;
    transform: translate3d(0,-50%,0);
    -webkit-transform: translate3d(0,-50%,0);
}
.index-coupon-popup .bg .close-button {
    position: absolute;
    top: -42px;
    right: 30px;
    width: 35px;
    height: 35px;
    z-index: 103;
}
.index-coupon-popup .bg .close-button img {
    border: 0;
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: top;
}
.index-coupon-popup .bg .coupon-div{
	text-align: center;
	padding-top: 70%;
}
.index-coupon-popup .bg .coupon-div .get-coupon{
	color: #333;
	font-size: 18px;
    font-family: "微软雅黑";
    padding: 7px 24px;
    border-radius: 15px;
    background-color: #ffd850
}

/* 绑定手机号码用户协议 */
.privacy_agreement_checked{
	vertical-align: -3px !important;
}
.privacy_agreement_checked:before{
	font-size: 18px !important;
}
.agreement_tips p a{
    color: #3688e2;
}

.privacy_agreement_notice-mask {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.privacy_agreement_notice {
    background-color: #fff;
    width: 85%;
	height:90%;
    border-radius: .5rem;
    position: relative;
}
.privacy_agreement_notice .close {
    position: absolute;
    top: .3rem;
    right: .3rem;
    z-index: 2;
}
.privacy_agreement_notice .notice-title {
    width: 100%;
    color: #151516;
    font-size: 1rem;
    line-height: 3rem;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
	display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.privacy_agreement_notice .notice-body {
	max-height: 90%;
    padding: .5rem .7rem;
	overflow-y: auto;
}

.privacy_agreement_notice .notice-sub-title {
    margin-left: .12rem;
    position: relative;
    color: #6f6f6f;
    margin-top: .1rem;
    line-height: 1.8rem;
}
.privacy_agreement_notice .notice-number{
	color: #4285f4;
    font-weight: bold;
}
.privacy_agreement_notice .my-invite{
	color: #e6600f;
    font-weight: bold;
}

/* 直播标志 */
.icon-live{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.icon-live-nostart{
	background-image: url('../../images/icon-live-nostart.png');
}
.icon-live-starting{
	background-image: url('../../images/icon-live-starting.png');
}
.lesson-live-starting{
	background-image: url('../../images/lesson-live-starting.png');
}
.icon-live-ended{
	background-image: url('../../images/icon-live-ended.png');
}

/* 我的足迹 */
.history_play_record{
	font-size: 12px !important;
	max-height: 40px;
    overflow: hidden;
}
.history_play_record .section-title{
	font-size: 12px !important;
    color: #ceab6b;
}
.history progress,.history progress::-webkit-progress-bar{
	width: 100%;
    height: .3rem;
	color:#69bdf5;
	border-radius: 1rem;
	background-color:#d4d4d4;
}
.history progress::-webkit-progress-value{
	background: #69bdf5;
	border-radius: 1rem;
}
.history .progress_tips{
	margin-left: 8px;
	font-size: 11px;
    color: #969696;
}

/* 首页分类课程 */
.index_class .weui-grid {
	width: 20%;
}

.index_class .weui-grids:after,.index_class .weui-grids:before,.index_class .weui-grid:after,.index_class .weui-grid:before{
	border: none;
}


#header {
  width: 100%;
  max-width: 640px;
  position: fixed;
	top: 0;
	color: #ffffff;
  z-index: 500;
}
.nav {
  background-color: #2656A4;
}
.nav ul{
  display: flex;
  position: relative;
}
.nav_item {
  flex: 1;
  height: 1rem;
  line-height: 1rem;
	font-size: 16px;
	font-weight: 700;
	font-family: STSongti-SC-Light;
  text-align: center;
  position: relative;
}
.nav_item_on {
	color: #ffffff;
	position: relative;
}
.nav_item_on::after {
	content: "";
	position: absolute;
	width: .9rem;
	height: 2px;
	background: #fff;
	border-radius: 3px;
	left: .5rem;
	bottom: .1rem;
}
.nav_item_line {
  position: absolute;
	height: 2px;
	box-sizing: border-box;
  background-color: #ffffff;
  bottom: .1rem;
	border-radius: 1px;
}
/* main */
#main {
	margin:1rem 0 0 0;
	font-family: STSongti-SC-Light;
}

.panel_box {
	width: 100%;
	max-width: 640px;
}


/* banner */
.banner {
	width: 100%;
	position: relative;
}

.banner .swiper-slide img {
	width: 100%;
}
/* banner上下滚动报名轮播 */


.banner_logo {
	position: absolute;
    width: 3.5rem;
    top: 0.2rem;
    left: 0.2rem;
		z-index: 1;
}

/* banner数字滚动报名人数 */
.num_roll {
	position: absolute;
	top: .2rem;
	left: .2rem;
	z-index: 1;
}

.num_roll>.text,.roll_box {
	float: left;
	font-size: .28rem;
	font-weight: 600;
	color: #000;
}

.roll_item {
	float: left;
	height: .5rem;
	width: .3rem;
	overflow: hidden;
	text-align: center;
}

.roll_small_items li {
	height: .5rem;
	line-height: .5rem;
}
.adult_university .num_roll {
	left: 4.6rem;
	top: .1rem;
}

.adult_banner_img {
	width: 100%;
	display: block;
}

/* 自我考试滚动 */
.selfnum_roll {
	position: absolute;
	top: .2rem;
	left: .2rem;
	z-index: 1;
}

.selfnum_roll>.selftext,.selfroll_box {
	float: left;
	font-size: .28rem;
	font-weight: 600;
	color: #000;
}

.selfroll_item {
	float: left;
	height: .5rem;
	width: .3rem;
	overflow: hidden;
	text-align: center;
}

.selfroll_small_items li {
	height: .5rem;
	line-height: .5rem;
}
.self_education .selfnum_roll {
	left: .2rem;
	top: .2rem;
}

/* 开放教育 */
.opennum_roll {
	position: absolute;
	top: .2rem;
	left: .2rem;
	z-index: 1;
}

.opennum_roll>.opentext,.openroll_box {
	float: left;
	font-size: .28rem;
	font-weight: 600;
	color: #000;
}

.openroll_item {
	float: left;
	height: .5rem;
	width: .3rem;
	overflow: hidden;
	text-align: center;
}

.openroll_small_items li {
	height: .5rem;
	line-height: .5rem;
}
.open_education .opennum_roll {
	left: .2rem;
	top: .2rem;
}
 /* 中间内容区域和切换内容导航*/
 .content_switch {
  width: 100%;
  position: relative;
}

.switch_cbox,.switch_item {
  width: 100%;
  height:1rem;
}

.main_content .switch_cbox {
  position: relative;
}
.switch_item {
  position: absolute;
  background-color: #FDE1D6;
  top: 0;
	z-index: 10;
}

.main_content_box2 .switch_item{
	z-index: 21;
}
.switch_item_nav {
  float: left;
  width: 50%;
	height: 1rem;
	font-size: 16px;
	font-weight: 700;
  line-height: 1rem;
  text-align: center;
}
.switch_item_line {
  position: absolute;
	height: 2px;
	box-sizing: border-box;
  background-color: #ffffff;
  bottom: .1rem;
	border-radius: 1px;
}
.switch_item_nav_on {
	background-color: #F16622;
	position: relative;
	
}
.switch_item_nav_on::after{
	content: "";
	position: absolute;
	width: 1rem;
	height: 2px;
	bottom: .1rem;
	left: 1.4rem;
	background-color: #fff;
}

.main_content_box {
	height: 100%;
}
.switch_item_nav_on::after {
	
}
		/* 切换内容框 */
.main_content {
	width: 100%;
	margin: 0 auto;
	height: 100%;

}

.main_content .switch_content {
	width: 100%;
	display: none;

	
}
.switch_content_2011box {
	width: 96%;
	margin: 0 auto;
}
	/* 切换内容框2021级招生样式 */
.apply_gift_box {
	background: url(../../images/index/2021bg.png);
	background-size: 100%;
	height: 5rem;
	text-align: center;
}
.apply_gift_title {
    font-size: 22px;
		color: #f31539;
		font-weight: 900;
    padding-top: .5rem;
    line-height: 1;
}
.apply_gift_box ul {
	width: 5rem;
	height: 2rem;
	margin: auto;
	margin-top: .1rem;
}
.apply_gift_box ul li {
	display: flex;
	padding: .1rem 0;
}
.apply_gift_box li p {
	display: inline-block;
	font-size: 14px;
	line-height: 1;
	padding-left: 5px;
}

.apply_gift_box li img {
	width: .3rem;
	height: .28rem;
	margin-right: 2px;
	margin-bottom: -2px;
}
#attention1 {
	font-size: 12px;
	color:rgb(54, 54, 54, 0.6);
}

.apply_gift_buy {
	width: 3.4rem;
	margin: 5px auto;
	height: .7rem;
	line-height: .7rem;
	color: #ffffff;
	font-size: 17px;
	font-weight: 700;
	font-family: TrebuchetMS !important;
	text-align: center;
	background-color: #ee5d4c;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ff8400),to(#fb3203));
	background-image: linear-gradient(180deg,#ff8400,#fb3203);
	border-bottom: .06rem solid #b92300;
	border-radius: .5rem;
}

.apply_gift_box > p{
	font-size: 12px;
}

	/* 四大优势 */
.foure_advantage {
	overflow: hidden;
}
.foure_advantage_title {
	width: 100%;
	text-align: center;
	margin-top: 35px;
	background-position: .5rem 0;
}
.foure_advantage_title img{
	width: 100%;
}

.foure_advantage_item {
	float: left;
	width: 47%;
	background-color:#fff;
	margin-left: 8px;
	border: solid 1px #f0560a;
	box-sizing: border-box;
	padding: 10px 10px;
	border-radius: .1rem;
	margin-top: 10px;
	position: relative;
}
.left_advantage {
	width: 55%;
}

.left_advantage img {
	width: 100%;
}

.right_advantage {
	width: 13%;
	position: absolute;
	top: 0;
	right: 10px;
}

.right_advantage img {
	width: 100%;
}

.foure_advantage_item {
	font-size: .23rem;
	height: 2.3rem;
	line-height: .38rem;
	word-break: break-all
}

	/* 合作院校 */
.school_cooperate {
	margin-top: .5rem;
}
.school_item {
	width: 17%;
	float: left;
	height: 1.65rem;
	text-align: center;
	margin: 5px 8px 5px 0;
	padding: 5px 10px;
	background-color: #fff;
	box-shadow:  2px 3px 2px rgba(0,0,0,.3);
	border-radius: 3px;
}

@media(max-width: 372px){
	.school_item {
		width: 16%;
		margin: 5px 7px 5px 0;
	}
}

.school_item_pic {
	width: 100%;
	margin: 0 auto;
}
.school_item_pic img{
	width: .84rem;
	height: .84rem;
}

.school_item p {
	font-size: 11px;
	font-weight: 700;
	color: #363636;
}

.school_item_btn {
		width: 50%;
    height: .6rem;
    border-bottom: 3px solid #b92300;
    border-radius: .3rem;
    color: #fff;
    font-weight: 700;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ff8400),to(#fb3203));
    background-image: linear-gradient(180deg,#ff8400,#fb3203);
    line-height: .6rem;
    text-align: center;
    margin: .2rem auto 0;
}

	/* 学校地点选择 */
	.city_select_box {
		overflow: hidden;
	}
	.city_select_item {
		width: 1.2rem;
		height: 1.2rem;
		margin-right: .2225rem;
		margin-top: .2rem;
		float: left;
		border-radius: 3px;
	}

	.city_select_item .city_text {
		width: 100%;
		height: .75rem;
		line-height: .75rem;
		border-bottom: 3px solid #b5280b;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fe6734),to(#f0560a));
		background-image: linear-gradient(180deg,#fe6734,#f0560a);
		color: #fff;
		text-align: center;
		border-radius: 2px;
	}

	.city_text_icon {
		width: .15rem;
		height: 100%;
		align-items: center;
		display: flex;
		float: right;
		margin-right: 5px;
	}

	.city_text_icon img{
		width: 100%;
	}

	.city_select_item_bg {
		margin-right: .18rem;
		width: 1.60rem;
		height: 1.2rem;
		background-color: salmon;
		display: flex;
		align-items: center;
		background-image: url(../../images/index/city_bg1.png);
		background-size: 100% 100%;
	}

	.city_select_item_bg .city_text {
		width: 1.2rem;
		margin: 0 auto;
		border: none;
		background: transparent;
	}

	/* 证书展示 */
.certificate {
	z-index: -1;
}
.certificate .swiper-slide {
	width: 70%;
}
.certificate .swiper-slide img{
	width: 100%;
	border-radius: 5px;
}
	/* 筑梦计划开头文字鸡汤 */
.dream_build_box {
	width: 100%;
}

.dream_text {
	background-color: #fff;
	padding-bottom: .5rem;
}
.dream_text_bg {
	width: 100%;
}
.dream_text_bg img {
	width: 100%;
}
.dream_build_des {
	width: 6.5rem;
	margin: 10px auto 0;
}
.dream_text p{
	text-indent: 2em;
	display: inline-block;
	line-height: .4rem;
	font-size: .26rem;
	color: #363636;
}

/* 学员故事 */

.student_story {
	background-color: #fff;
	margin-top: 10px;
	padding: .4rem 0;
}
.student_story_item>.fl {
	width: 69%;
}

.student_story_item>.fr {
	width: 30%;
	text-align: right;
}
.student_story .foure_advantage_title {
	margin-top: 0;
}
 
.student_story_item{
	display: block;
	padding: .2rem .15rem .1rem;
	position: relative;
}

.student_story_item::before {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 1px;
    background-color: #e4e4e4;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    content: "";
}

.store_title{
	font-size: .3rem;
	line-height: .4rem;
	color: #363636;
}
.story_left {
	margin-top: 15px;
	font-size: .24rem;
	color: rgba(54,54,54,.6);
}

.story_left .like,.story_left .read {
	float: left;
	display: flex;
	align-items: center;
}

.story_left .like img,.story_left .read img{
	margin-right: 6px;
}
.story_left .like img {
	width: .34rem;
}
.story_left .like {
margin-right: .3rem;
}
.story_left .read img {
	width: .3rem;
}
.student_story_item>.fr img {
	width: 1.45rem;
	height: 1.45rem;
	object-fit: cover;
	border-radius: 3px;
}

	/* 上进女神 */
.store_muse {
	margin-top: .15rem;
}
.store_muse img{
	display: inline-block;
	width: 2.25rem;
	height: 2.25rem;
	border-radius: 3px;
	object-fit: cover;
	margin-right: .09rem;
}

.store_btn {
	text-align: center;
	border: none;
    width: 2.7rem;
    height: .6rem;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ff8400),to(#fb3203));
    background-image: linear-gradient(180deg,#ff8400,#fb3203);
    color: #fff;
		font-size: .34rem;
		font-weight: 600;
    margin: .4rem auto 0;
    border-radius: .3rem;
		border-bottom: 2px solid #b92300;
}

.store_btn a{
	color: #fff;
}
/* 学员风采 */
.student_show {
	margin-top: .1rem;
}

.student_show .foure_advantage_title {
	margin: 0;
}
.student_show .swiper-slide {
	width: 70%;
}
.student_show .swiper-slide img{
	width: 100%;
	border-radius: 5px;
}


/* 留言区 */
.voice_message {
	background-color: #fff;
	padding-top: .15rem;
}

.voice_message_swiper {
  height: 9rem;
  overflow: hidden;
  position: relative;
}
.voice_msg_ul {
  position: absolute;
  left: 0;
  top: 0;
}
.voice_li {
	display: flex;
  justify-content: space-between;
	height: 3rem;
}

.voice_message .message_item_pic {
	width: 1.27rem;
	text-align: right;
	margin-right: .1rem;
}

.voice_message .message_item_pic img{
	width: 1rem;
	height: 1rem;
	object-fit: cover;
	border-radius: 50%;
}
.voice_message .message_item {
	width: 6rem;
}

	
.voice_message .message_item p {
	font-size: .28rem;
}
.voice_message .message_item .question {
	color: rgba(54,54,54,.7);
  margin: .1rem 0 .2rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.voice_message .message_item .reply {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.voice_box {
	width: 5rem;
	height: 1.2rem;
	border: 1px solid #f0560a;
	padding: .13rem .1rem;
	margin-top: 5px;
	border-radius: 5px;
	resize: none;
	font-family: TrebuchetMS,Rotobo,Microsoft YaHei,sans-serif;
	vertical-align: top;
}
.voice_enter {
	position: relative;
}
.voice_enter .main_num {
	position: absolute;
	left: 4.7rem;
	bottom: .1rem;
	font-size: .2rem;
	color: rgba(23,6,6,.4);
}

.voice_message_btn {
	text-align: center;
	border: none;
	width: 2.7rem;
	height: .6rem;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ff8400),to(#fb3203));
	background-image: linear-gradient(180deg,#ff8400,#fb3203);
	color: #fff;
	font-size: .34rem;
	font-weight: 600;
	margin: .4rem auto 0;
	border-radius: .3rem;
	border-bottom: 2px solid #b92300;
}

 /* 成人高考页面底部 */
 .man_footer {
	background-color: #fff;
	padding: .5rem 0 .7rem 0;
 }

 .man_footer p {
	text-align: center;
 }

 /* 常见问题 */
 .question_list .my_collapse_picbox {
  position: relative;
}

.question_list .my_collapse_num {
  position: absolute;
	font-size: .24rem;
	color: #af4810;
  left: .5rem;
	z-index: 2;
}

.question_list .collapse_content {
    width: 100%;
    height: 0;
		font-size: .26rem;
    background-color: #FFF4F0;
		color: #af4810;
}

.question_list .padding_box {
    padding: .35rem .35rem;
    text-align: left;
    overflow: hidden;
}

.question_list .weui-cells {
    margin-top: 0;
}
.question_list .weui-cells::before {
	border-top: none;
}

.question_list .new_weui-cell__ft {
    padding-right: .22rem;
    position: relative;
    text-align: right;
}

/* 手风琴选中时为了替换伪类，直接将原来的样式复制过来，然后重写伪类，利用addclass和remove来添加删除伪类设置的箭头方向 */
.question_list .weui-cell__ft_on {
    padding-right: .22rem;
    position: relative;
    text-align: right;
}
.question_list .weui-cell_access .weui-cell__ft:after {
	border-color: #af4810;
}
.question_list .weui-cell__ft_on::after {
    content: " ";
    width: 12px;
    height: 24px;
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
		background-color: #af4810;
		color: #af4810;
    color: var(--weui-FG-2);
    -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
    mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
    /* 旋转90度变为下箭头 */
    transform: rotate(90deg)
}

/* 开放教育 */
.open_banner_swiper img {
  width: 100%;
	display: block;
}
.open_education_switch {
  position: relative;
}

.open_switch_cbox,.open_switch_items {
  width: 100%;
  height:1rem;
}
.open_switch_cbox {
  position: relative;
}
.open_switch_items {
  position: absolute;
  width: 100%;
  background-color: #fbdada;
  color: #ff4c50;
  top: 0;
  z-index: 21;
}
.open_switch_item {
  float: left;
  width: 50%;
	height: 1rem;
	font-size: 16px;
	font-weight: 700;
  line-height: 1rem;
  text-align: center;
}
.open_switch_line {
  position: absolute;
	height: 2px;
	box-sizing: border-box;
  background-color: #ffffff;
  bottom: .1rem;
	border-radius: 1px;
}
.open_switch_item_on {
	position: relative;
  background-color: #ff4c50;
  color: #fff;
}
.open_switch_item_on::after {
	position: absolute;
	content: "";
	width: 1rem;
	height: 2px;
	left: 1.4rem;
	bottom: .1rem;
	background-color: #fff;
}

.open_education .switch_item {
  background-color: #fbdada;
  color: #ff4c50;
}

.open_education .switch_item_nav_on {
	background-color: #ff4c50;
	position: relative;
  color: #fff;
}
.open_education .switch_item_nav_on::after {
	content: "";
	position: absolute;
	width: 1rem;
	height: 2px;
	bottom: .1rem;
	left: 1.4rem;
	background-color: #fff;
}
/* 学校优势 */
.open_education_advantage {
  padding: .5rem .2rem;
  width: 95%;
  margin: 0 auto;
  background: url(../../images/index/open_education/open_advantage_bg.jpg) no-repeat;
  background-size: cover;
}
.open_education .head_img {
  width: 3rem;
  margin: .7rem auto .4rem;
}

.open_education .head_img img{
  width: 100%;
  object-fit: cover;
}

.open_education_advantage .content_view {
  width: 100%;
}

.open_education_advantage .content_view .fl,.open_education_advantage .content_view .fr {
  width: 2.5rem;
  padding: .3rem .5rem .3rem .2rem;
  background-color: #fff;
  border-radius: 5px;
}
.view_title_num {
  float: left;
  width: 0.6rem;
  height: .6rem;
  font-size: .3rem;
  font-weight: 900;
  color: #fff;
  background: url(../../images/index/open_education/open_message_icoe.png) no-repeat;
  background-size: 100%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.open_education_advantage .content_view .iew_title_text {
  font-size: .34rem;
  font-weight: 900;
  color: #FF4C50;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.open_education_advantage .content_view .text {
  font-size: .3rem;
  display: inline-block;
  color: #363636;
  text-align: left
}

.open_education_advantage .content_view .middView {
  width: 6.45rem;
  margin: 0 auto;
  background-color: #fff;
  margin-top: .2rem;
  padding: .2rem .2rem;
  border-radius: 5px;
}

/* 院校专业和收费 */
.open_education_charge {
  padding: .1rem 0 .1rem;
  background-color: #fff;
}
.charge_pic_box {
  width: 6.7rem;
  margin: 0 auto;
}
.charge_pic_box img {
  width: 100%;
  object-fit: cover;
}

/* 院校介绍 */
.open_education_referral {
  padding: .2rem .2rem;
  background-color: #fff;
}
.open_education_referral .title_img{
  width: 100%;
}
.open_education_referral .title_img img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.open_education_referral .content_text {
  width: 6rem;
  height: 3rem;
  margin: 0 auto;
  overflow: hidden;
}

.more  {
  width: .8rem;
  margin: 0 auto;
  text-align: center;
}

.more .down img{
  width: .8rem;
  margin-bottom: -.2rem;
}

.more .up {
  width: .8rem;
  height: .8rem;
  line-height: .8rem;
  font-weight: 700;
  font-size: .36rem;
}

/* 自我考试 */
.self_banner_swiper img {
  width: 100%;
	display: block;
}
.new_banner2 .banner_apply_num {
  left: .2rem;
}
.self_learn .switch_item {
  background-color: #075ab9;
}
.self_learn .switch_item_nav_on {
  background: #2b90fc;
}

.self_learn .self_box {
  width: 95%;
  margin: 0 auto;
}

/* 2020招生 */
  /* 卡片通用样式 */
.self_card {
  position: relative;
  margin-top: 1.2rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(140,85,86,.18)
}

.card_top {
  position: absolute;
  background: url(../../images/index/self_learn/card_top.png) no-repeat;
  background-size: 100% 100%;
  width: 158px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  top: -21px;
  line-height: 46px;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  color: #fff;
}

/* 四大优势 */
.self_foure_advantage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: .45rem 0 .3rem 0 ;
}
.self_foure_advantage::after{
  content: "";
  position: absolute;
  width: 1px;
  height: 6.7rem;
  background-color: rgba(54,54,54,.08);
  left: 3.5rem;
  top: .7rem;
}
.self_foure_advantage::before{
  content: "";
  position: absolute;
  width: 6.5rem;
  height: 1px;
  background-color: rgba(54,54,54,.08);
  left: .3rem;
  top: 3.8rem;
}
.self_advantage_item {
  width: 50%;
  height: 3.5rem;
  box-sizing: border-box;
  line-height: 1;
  padding: 10px 19px;
  text-align: center;
}

.self_advantage_logo{
  width: .9rem;
  height: .9rem;
  margin: 0 auto;
}

.self_advantage_logo img{
  width: 100%;
}
.self_advantage_title {
  font-size: .30rem;
  font-weight: 700;
  color: #000;
  margin:.35rem 0 .2rem 0;
}
.self_advantage_des {
  font-size: 12px;
  color: #5d5d5d;
  text-align: left;
  line-height: 16px;
  word-break: break-all;
}

/* 专业一览 */
.self_major {
  padding: .7rem .4rem .3rem .4rem;
}
.self_major_box {
  margin-bottom: .3rem;
}
.self_major_title {
  margin-bottom: .1rem;
  font-size: .28rem;
  font-weight: 700;
}

.self_major_item {
	float: left;
	width: 33%;
	line-height: .5rem;
  color: #2b90fc;
  font-size: .24rem;
}

/* 院校一览 */
.self_school {
	padding: .95rem .4rem .3rem .4rem;
	display: flex;
}

.self_school_item {
	flex: 1;
  text-align: center;
  margin-bottom: .5rem;
  font-size: .24rem;
}

.self_school_img {
  width: .85rem;
  height: .85rem;
  margin: 0 auto;
}
.self_school_img img {
  width: 100%;
}

.school_name {
  overflow:hidden;
  text-overflow:ellipsis; /* 加省略号 */
  white-space:nowrap; /* 强制不换行 */

}

/* 留言区 */
.self_voice_message .voice_message .message_item_pic {
    width: 1rem;
}
.self_voice_message .voice_message .message_item {
    width: 5rem;
}
.self_voice_message {
  padding: .95rem .4rem .3rem .4rem;
}

/* 网络教学 */

.online_banner_swiper img{
	width: 100%;
	display: block;
}

/* 网络教学数字滚动 */
.onlinenum_roll {
	position: absolute;
	top: .2rem;
	left: .2rem;
	z-index: 1;
}

.onlinenum_roll>.onlinetext,.onlineroll_box {
	float: left;
	font-size: .28rem;
	font-weight: 600;
	color: #000;
}

.onlineroll_item {
	float: left;
	height: .5rem;
	width: .3rem;
	overflow: hidden;
	text-align: center;
}

.onlineroll_small_items li {
	height: .5rem;
	line-height: .5rem;
}
.online_education .onlinenum_roll {
	left: .2rem;
	top: .2rem;
}

.main_content_online .head_img {
  width: 3rem;
  margin: .7rem auto .4rem;
}

.main_content_online .head_img img{
  width: 100%;
  object-fit: cover;
}


.main_content_online .switch_item {
  background-color: #fbdada;
  color: #ff4c50;
}

.main_content_online .switch_item_nav_on {
  background-color: #ff4c50;
  color: #fff;
}
/* addClass or rremoClass */
