@charset "UTF-8";

/* 底部咨询购买样式 */
.d-buynow {
	position: fixed;
    bottom: 0;
    z-index: 110;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    border-top: 1px solid #e2e2e2;
    color: #666;
    overflow: hidden;
    background-color: #fff;
}

.d-buynow li {
	float: left;
	width: 20%;
	height: 45px;
	line-height: 45px;
	display: block;
	text-align: center;
	box-sizing: border-box
}

.d-buynow li.two-btn-buy{
	width: 30%;
}
.d-buynow li.one-btn-buy{
	width: 48%;
}
.d-buynow li.one-btn-qq, .d-buynow li.one-btn-collect{
	width: 26%;
}
.d-buynow li a {
	font-size: 14px;
	display: block;
	color: #989898;
}

.d-buynow .btn-collect {
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
}

.d-buynow .btn-buy a {
	display: block;
	font-family: "微软雅黑";
	color: #fff;
	height: 100%;
	line-height: 14px;
	cursor: pointer;
}

.d-buynow .study{
	text-align: center;
    color: white;
    background-color: #d7b262;
    background-image: -webkit-linear-gradient(right, rgba(215,178,98), rgba(223,193,118));
    background-image: -moz-linear-gradient(right, rgba(215,178,98), rgba(223,193,118));
    background-image: -o-linear-gradient(right, rgba(215,178,98), rgba(223,193,118));
    background-image: -ms-linear-gradient(right, rgba(215,178,98), rgba(223,193,118));
    background-image: linear-gradient(to left, rgba(215,178,98), rgba(223,193,118));
}

.d-buynow .btn-buy .num {
	line-height:45px;
	font-size: 16px;
	cursor: pointer;
}

.d-buynow .btn-buy .money {
	font-size: 16px
}

.d-buynow .btn-buy .buy {
	font-size: 14px;
	cursor: pointer;
}

.d-buynow .blue {
	background-color: #4285f4;
}

.d-buynow .red {
	background-color: #f23030;
}

.d-buynow .orange {
	background-color: #d7b262;
}

.d-buynow .gray {
	background-color: #7D7D7D;
}

.ico-lessonqq {
	margin-right: 5px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: url(../../images/ico-lessonqq.png?v=2) no-repeat;
    display: inline-block;
    background-size: cover;
}

.ico-gohome {
	margin-right: 5px;
    width: 18px;
    height: 18px;
	vertical-align: -3px;
    background: url(../../images/ico-go-index.png) no-repeat;
    display: inline-block;
    background-size: cover;
}

.ico-collect {
	margin-right: 5px;
	width: 18px;
    height: 18px;
	vertical-align: middle;
	background: url(../../images/ico-favorite.png?v=2) no-repeat;
	display: inline-block;
	background-size: cover
}

.te {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}


/* 评价列表 */
.evaluate-wrap {
	background-color: #fff;
}

.evaluate-wrap .evaluate-general {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin: 0 auto;
	padding: 15px;
    background: #F8FAFC;
}
.evaluate-wrap .evaluate-general .score-general {
    display: block;
	width: 25%;
    font-size: 26px;
    font-weight: 500;
    color: #FFA01E;
	text-align: center;
}
.evaluate-wrap .evaluate-general .score-item {
	width: 25%;
    color: #2B333B;
	text-align: center;
}
.evaluate-wrap .evaluate-general .score-item .score-title {
    font-size: 12px;
}
.evaluate-wrap .evaluate-general .score-item .score-num {
    font-size: 16px;
}

.evaluate-wrap .lesson-evaluate{
	padding: 15px;
	text-align:center;
	border-bottom: 1px solid #eaeaea;
}
.evaluate-wrap .lesson-evaluate .btn {
	display: inline-block;
    padding: 2px 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.evaluate-wrap .lesson-evaluate .btn-default {
	border-color: #ffa01e;
    background-color: rgba(255,255,255,0);
    color: #ffa01e;
}
.evaluate-wrap .lesson-evaluate .btn-group-sm>.btn,.btn-sm {
	margin: 0 5px;
	padding: 4px 10px;
	border-radius: 3px;
	font-size: 12px;
	line-height: 1.2
}

.evaluate-list .evaluate-item {
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    border-radius: 0;
    padding: 10px 20px;
}
.evaluate-list .evaluate-item .item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.evaluate-list .evaluate-item .item-head .commenter-box {
    float: left;
    width: 10rem;
}
.evaluate-list .evaluate-item .item-head .commenter-box img {
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.evaluate-list .evaluate-item .item-head .commenter-box span {
    float: left;
    width: 6rem;
    margin-left: 8px;
    font-size: 15px;
    font-weight: 700;
    height: 25px;
    color: #565656;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
}
.evaluate-list .evaluate-item .item-head .commenter-box .time {
    float: left;
    color: #B7BBBF;
    margin-left: 8px;
    font-size: 12px;
}
.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.evaluate-list .evaluate-item .item-head .item-head-right {
    float: right;
    text-align: right;
    width: 120px;
}
.star-wrap img {
    display: inline-block;
    transform: translateY(0.05rem);
    width: 15px;
}
.star-wrap>i {
    font-style: normal;
    font-size: 12px;
    display: inline-block;
    color: #2B333B;
}
.evaluate-list .evaluate-item .item-content {
    margin-top: 10px;
    font-size: 14px;
    color: #2B333B;
}
.evaluate-list .evaluate-item .content-pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	word-break:break-all;
}
.evaluate-list .evaluate-item .item-reply {
    margin-top: 5px;
    padding: 5px;
    background: #F3F5F7;
    border-radius: 5px;
    font-size: 13px;
    color: #71777D;
    word-break: break-all;
}


/* 音视频播放区域 */
.video-wrap {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #ecf0f3;
	margin: 0 auto
}

.video-wrap img{
	display: inherit;
}

.video-wrap .learned{
	bottom: 5px;
    right: 5px;
}

.fylesson_audio{
	width:98%;
	margin:0 auto 0 auto;
	padding:20px 0;
}
.fylesson_audio p{
	padding:10px 0;
}

.video-wrap .password-wrap{
	width:100%;
	height:220px;
	background-color: black;
}
.video-wrap .password-wrap .enter-password{
	font-size: 16px;
	color: white;
	text-align: center;
	display: block;
	padding: 40px 0 15px 0;
}
.video-wrap .password-wrap input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
	width: 200px;
	border-radius: 3px;
	padding: 5px 7px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: 16px;
	color: white;
	font-weight: 260;
}
.video-wrap .password-wrap button{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	background-color: white;
	border: 0;
	margin: 20px auto;
	padding: 5px 15px;
	color: #666;
	border-radius: 3px;
	width: 80px;
	font-size: 16px;
	display: block;
}

/* 详情、目录、评价 */
.course-tab {
	width: 100%;
	height: 42px;
	border-bottom: 1px solid #e6e6e6;
}

.course-tab li {
	font-family: "微软雅黑";
	color: #696969;
	margin-top: 1px;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	cursor: pointer;

	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 20%;
}

.course-tab li.curr {
	font-weight: bold;
	color: #1d1d1d;
	border-bottom: 2px solid #d7b262;
}


/* 详情、目录、评价内容 */
.course-container .js-tab{
	display: none;
	transform-origin: 0px 0px 0px;
	opacity: 1;
	transform: scale(1,1);
}
.course-container ul {
	list-style: none;
	margin: 5px 0;
	padding: 0;
}

.course-container .course-type{
	position: relative;
    border: 1px solid #b1b1b1;
    border-radius: 2px;
    padding-left: 3px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: #656565;
    margin-right: 8px;
    font-size: 12px;
    vertical-align: inherit;
    text-indent: 0;
}

.course-intro .grid_info{
	margin-top: 0;
}

.course-intro li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    background-color: #fff;
}

.title-bar__title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
    padding: 15px 15px 0 15px;
    font-size: 18px;
    line-height: 25px;
    white-space: pre-wrap;
    word-break: break-word;
    color: #000;
    -webkit-line-clamp: 2;
	cursor: pointer;
}
.lesson-bar {
    line-height: 24px;
    max-height: 24px;
}
.lesson-integral {
    display: inline-block;
	padding-left: 15px;
    font-size: 12px !important;
    color: #777 !important;
}
.vnum {
    margin-right: 15px;
    font-size: 12px;
    color: #999;
}

.lesson-content strong{
	font-weight:bold;
}

.lesson-content i, .lesson-content em{
	font-style:italic;
}

.course-intro .lesson-content img{
	max-width:100% !important;
}

.course-intro-title,.lesson-content p,.teacher-intro {
	font-size: 14px!important;
	padding-top: 3px!important;
	padding-bottom: 3px!important
}
.teacher-intro{
    padding-bottom: 15px !important;
    border-bottom: #f3f3f3 1px solid;
}
.chapter-intro-user {
	display: block;
    color: #444;
    height: 48px;
    position: relative;
}
.chapter-intro-user img {
	margin-right: 10px;
	border-radius: 50%
}
.chapter-intro-user strong{
	font-size: 16px;
	font-weight: bold;
    display: inline-block;
    vertical-align: top;
	width: 45%;
    height: 22px;
    overflow: hidden;
}
.chapter-intro-user span {
    position: absolute;
    left: 65px;
    top: 30px;
    font-size: 12px;
    color: #999;
}
.chapter-intro-user i {
    display: block;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #ef834a;
    float: right;
    margin-top: 18px;
    margin-right: 5px;
}

.chapter-title {
	background: #ecf0f3;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	padding: 0 20px 0 10px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid #d5dce1;
	position: relative
}

.chapter-content{
	padding: 10px 15px;
}

.chapter-content img{
	vertical-align: top;
	max-width:100% !important;
}

.chapter-title .section-title-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin: -4px 6px 0 0;
	background: url(../../images/learnicon.png?v=10) no-repeat 0 0
}

.chapter-title span {
	position: absolute;
	width: 12px;
	height: 12px;
	vertical-align: middle;
	margin: 15px 0 0 0;
	background: url(../../images/dot_close.png) no-repeat 0 0;
	background-size: 100%;
	right: 10px;
	top: 0
}

.chapter-title span.open {
	background: url(../../images/dot_open.png) no-repeat 0 0;
	background-size: 100%
}

.course-sections {
	margin-top: 0 !important;
	padding: 0px 5px !important;
	background: #fff;
}

.course-sections .fa-play-circle {
    font-size: 13px;
}

.course-sections .free-play-font {
    font-size: 12px;
}

.course-sections li {
	position: relative;
	height: unset;
    max-height: 60px;
    line-height: 30px;
    padding: 5px 3px;
    border-bottom: 1px solid #f1f1f1;
}

.course-sections .free-time-content{
	margin-left: 40px;
}
.course-sections .section-time{
	color: #6d6d6d;
}
.course-sections .free-time-content .free-play-box{
	position: relative;
    border: 1px solid #e85308;
    border-radius: 2px;
    padding: 0 3px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: #e85308;
    vertical-align: inherit;
    text-indent: 0;
}

.course-sections .free-time-content .buy-play-box{
	position: relative;
    border: 1px solid #eaa712;
    border-radius: 2px;
    padding: 0 3px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: #eaa712;
    vertical-align: inherit;
    text-indent: 0;
}

.course-sections a {
	width: 100%;
	display: block;
	padding: 3px 0;
	font-size: 14px;
	text-decoration: none;
	color: #444;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.course-sections a:hover,.course-sections a:visited {
	color: #444
}


.ico-credit {
	display: inline-block;
	margin-right: 5px;
	width: 20px;
	height: 16px;
	background: url(../../images/oc-h.png) no-repeat
}

.ico-credit.s2 {
	display: inline-block;
	background: url(../../images/oc-z.png) no-repeat
}

.ico-credit.s3 {
	background: url(../../images/oc-c.png) no-repeat
}

.section-active {
	color: #e85308 !important;
}


/*收藏动画*/
.d-buynow li .cur .ico-collect {
	background: url("../../images/ico-favorited.png?v=2") no-repeat;
	display: inline-block;
	background-size: cover;
	transform-origin: 50% 50%;
	transition: transform .5s ease-in-out 0s;
	animation-name: bling;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	-webkit-transform-origin: 50% 50%;
	-webkit-transition: transform .5s ease-in-out 0s;
	-webkit-animation-name: bling;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}


/* 左下角咨询 */
#layer-bg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 200%;
	background: rgba(0,0,0,.4);
	z-index: 102;
}

#bottom-contact {
	top: auto;
	bottom: 0;
	margin: 0;
	width: 100%;
	color: #000;
	background: #fff;
	position: fixed;
	z-index: 111;
}

.contact-wrap {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 305px;
}

.contact-wrap-title {
	padding: 15px;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	border-bottom: 1px #eee solid;
}

.layer-close {
	border-top: 2px solid #efeff4;
	padding: 12px;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #ff4005;
}

.layer-list_item {
	display: block;
	position: relative;
	padding: 10px 45px 10px 75px;
	height: 50px
}

.layer-list_item:active {
	background-color: #e5e5e5
}

.layer-list_item-icon {
	overflow: hidden;
	position: absolute;
	top: 15px;
	left: 15px;
	border-radius: 25px;
	width: 50px;
	height: 50px
}

.layer-list_item-icon img {
	width: 50px;
	height: 50px
}

.layer-list_item-name {
	overflow: hidden;
    padding-top: 5px;
    font-size: 14px;
    color: #000;
    text-overflow: ellipsis;
    word-break: break-word;
}

.layer-list_item-info {
	padding-top: 5px;
	font-size: 12px;
	line-height: 12px;
	color: #a9a9a9;
}

.layer-list_item-go {
    color: #d4d4d4;
	position: absolute;
	top: 10px;
	right: 15px;
}

.layer-list_item-go i {
	top: 0;
	right: 0;
	margin: 0;
	font-size: 20px;
	line-height: 50px
}

.contact-wrap-qun-title {
	padding: 15px 15px 5px;
	font-size: 15px
}

.contact-wrap-qun-desc {
	color: #777
}

.teacher-qrcode{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	display: none;
	background: rgba(0, 0, 0, 0.8);
}
.teacher-qrcode .qrcode-content{
	position: absolute;
	width: 50%;
	left: 25%;
	bottom: 15%;
}
.teacher-qrcode .qrcode-content img{
	width: 100%
}
.teacher-qrcode .qrcode-content p{
	color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

@-webkit-keyframes bling {
	0% {
		opacity: .3;
		transform: scale(1)
	}

	25% {
		opacity: .5;
		transform: scale(1.1)
	}

	50% {
		opacity: 1;
		transform: scale(1.5)
	}

	75% {
		opacity: .5;
		transform: scale(1.1)
	}

	100% {
		transform: scale(1)
	}
}

@-moz-keyframes bling {
	0% {
		opacity: .3;
		transform: scale(1)
	}

	25% {
		opacity: .5;
		transform: scale(1.1)
	}

	50% {
		opacity: 1;
		transform: scale(1.5)
	}

	75% {
		opacity: .5;
		transform: scale(1.1)
	}

	100% {
		transform: scale(1)
	}
}


/* 课程规格样式 */
.spec-menu-content {
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
    border-top: 1px solid #dadada;
    z-index: 250;
}

.spec-first-pic {
	position: absolute;
	left: 8px;
	top: -26px;
	width: 100px;
	height: 61px;
	border-radius: 3px;
	border: 1px solid #f0f1f3;
	background-color: #fff;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center
}

.spec-first-pic img {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden
}

.spec-menu-top {
	width: 100%;
	height: 50px
}

.spec-yang-pic {
	width: 9px;
	height: 11px;
	margin-right: 3px;
	margin-top: 2px
}

.spec-price {
	font-size: 15px;
	line-height: 15px;
	color: #f23030;
	padding-top: 20px;
	padding-left: 121px;
	font-weight: 700
}

.vip-price-color{
	color: #c58908;
}

.spec-weight {
	font-size: 11px;
	line-height: 11px;
	color: #81838e;
	padding-top: 8px;
	padding-left: 121px
}

.spec-menu-middle {
	position: absolute;
	bottom: 43px;
	top: 65px;
	left: 0;
	right: 0;
	padding-left: 10px;
	overflow: auto
}

.spec-menu-btn {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

.spec-menu-btn a {
	display: block;
	height: 43px;
	width: 1%;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 15px;
	line-height: 43px;
	color: #fff;
	text-align: center;
	background-color: #f23030;
    transform-origin: 0px 0px 0px;
    opacity: 1;
    transform: scale(1, 1);
	cursor: pointer;
}

.spec-menu-btn a.btn-buy-vip{
	background-color: #d7b262;
}

.spec-menu-btn a.cart-black-font {
	color: #333
}

@media screen and (orientation:portrait) {
	spec-menu-content {
		height: 50%
	}
@	-webkit-keyframes spec-menu-move {
		0%{height: 0
	}

	100% {
		height: 50%
	}
}

@-moz-keyframes spec-menu-move {
	0% {
		height: 0
	}

	100% {
		height: 50%
	}
}

@-ms-keyframes spec-menu-move {
	0% {
		height: 0
	}

	100% {
		height: 50%
	}
}

@-o-keyframes spec-menu-move {
	0% {
		height: 0
	}

	100% {
		height: 50%
	}
}

@keyframes spec-menu-move {
	0% {
		height: 0
	}

	100% {
		height: 50%
	}
}

@-webkit-keyframes spec-menu-back {
	0% {
		height: 50%
	}

	100% {
		height: 0
	}
}

@-moz-keyframes spec-menu-back {
	0% {
		height: 50%
	}

	100% {
		height: 0
	}
}

@-ms-keyframes spec-menu-back {
	0% {
		height: 50%
	}

	100% {
		height: 0
	}
}

@-o-keyframes spec-menu-back {
	0% {
		height: 50%
	}

	100% {
		height: 0
	}
}

@keyframes spec-menu-back {
	0% {
		height: 50%
	}

	100% {
		height: 0
	}
}}

@media screen and (orientation:landscape) {
	.spec-menu-content {
		height: 50%
	}@	-webkit-keyframes spec-menu-move {
		0%{height: 0
	}

	100% {
		height: 50%
	}
}

@-moz-keyframes spec-menu-move {
	0% {
		height: 0
	}

	100% {
		height: 50%
	}
}

@-ms-keyframes spec-menu-move {
	0% {
		height: 0
	}

	100% {
		height: 50%
	}
}

@-o-keyframes spec-menu-move {
	0% {
		height: 0
	}

	100% {
		height: 50%
	}
}

@keyframes spec-menu-move {
	0% {
		height: 0
	}

	100% {
		height: 50%
	}
}

@-webkit-keyframes spec-menu-back {
	0% {
		height: 50%
	}

	100% {
		height: 0
	}
}

@-moz-keyframes spec-menu-back {
	0% {
		height: 50%
	}

	100% {
		height: 0
	}
}

@-ms-keyframes spec-menu-back {
	0% {
		height: 50%
	}

	100% {
		height: 0
	}
}

@-o-keyframes spec-menu-back {
	0% {
		height: 50%
	}

	100% {
		height: 0
	}
}

@keyframes spec-menu-back {
	0% {
		height: 50%
	}

	100% {
		height: 0
	}
}}

.spec-menu-show {
	-webkit-animation: spec-menu-move .5s 1 ease 0s;
	-moz-animation: spec-menu-move .5s 1 ease 0s;
	-ms-animation: spec-menu-move .5s 1 ease 0s;
	-o-animation: spec-menu-move .5s 1 ease 0s;
	animation: spec-menu-move .5s 1 ease 0s
}

.pro-color, .pro-count, .pro-size, .pro-spec, .spec-desc {
	font-size: 0;
	overflow: hidden;
	position: relative;
}

.rt-close-btn-wrap .flick-menu-close {
	display: block;
	background: url(../../images/product-detail-sprites-mjs.png) no-repeat 0 0;
	background-size: 100px 100px;
	background-position: -28px -17px;
	width: 11px;
	height: 12px;
	position: absolute;
	right: 10px;
	top: 16px;
}

.spec-desc .base-txt, .spec-desc .part-note-msg {
	line-height: 18px;
}

.part-note-msg {
	display: inline-block;
	line-height: 15px;
	font-size: 13px;
	color: #81838e;
	width: 40px;
	white-space: normal;
	height: auto;
}

.spec-desc .base-txt {
	margin-right: 30px;
}

.base-txt {
	margin-left: 34px;
	margin-bottom: 20px;
	font-size: 13px;
	color: #252525;
	line-height: 15px;
}

.base-txt .buy-teacher{
	font-size: 14px;
    color: #fff;
    background-color: #ff976a;
    border: 1px solid #ff976a;
    padding: 3px 10px;
    border-radius: 5px;
	line-height: 26px;
}

.base-txt .buy-vip{
	font-size: 14px;
    color: #fff;
    background-color: #ff6565;
    border: 1px solid #ec5353;
    padding: 3px 10px;
    border-radius: 5px;
	line-height: 26px;
}

.msg-notice .part-note-msg, .prod-spec .part-note-msg, .provide-srv .part-note-msg, .send-to .part-note-msg {
	float: left;
}

.pro-color,.spec-desc {
	font-size: 0;
	overflow: hidden;
	position: relative
}

.spec-desc .base-txt,.spec-desc .part-note-msg {
	line-height: 18px
}

.pro-color .part-note-msg{
	line-height: 23px
}

.spec-desc .base-txt {
	margin-right: 30px
}

.pro-count .part-note-msg {
	line-height: 26px
}

.pro-color p,.pro-spec p {
	margin-left: 34px;
	overflow: hidden
}

.pro-color p a{
	height: 27px;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	line-height: 25px;
	font-size: 13px;
	color: #232326;
	float: left;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 69px;
	max-width: 98%;
	box-sizing: border-box;
	text-align: center
}

.pro-buy-style p a:active,.pro-color p a:active{
	background-color: #e7e7e7
}

.pro-buy-style p a.selected,.pro-color p a.selected{
	border: 1px solid #f23030;
	color: #f23030
}

.pro-color p a.vip-selected {
	border: 1px solid #d7b262;
	color: #c58908;
}

.flick-menu-btn {
	width: 100%;
	font-size: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	cursor: pointer;
}

.red-color {
	background-color: #f23030;
}

.flick-menu-mask {
	width: 100%;
	height: 120%;
	min-height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	z-index: 200;
}


/*扫码识别关注公众号*/
.force-contact-main {
	width: 100%;
	height: 100%;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	margin: 0 auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: rgba(0,0,0,.75);
	z-index: 99999;
	line-height: 1
}

.force-contact-content_new {
	position: absolute;
	width: 80%;
	height: 45%;
	padding-top: 20px;
	text-align: center;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 8px;
	line-height: 1;
	left: 10%;
	top: 15%
}

.force-contact-content_new .force-contact-tips {
	font-size: 17px;
	color: #151516;
	margin-bottom: 21px;
	font-weight: 700
}

.force-contact-content_new .force-contact-desc {
	font-size: 14px;
	color: #58595b;
	margin-bottom: 30px;
	margin-right: 4px
}

.force-contact-content_new .receive-red-packet-contact-touch {
	position: absolute;
	width: 250px;
	height: 130px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

/* 右上角赚取佣金 */
.sharecard__entry, .sharecard__entry-global {
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
}
.sharecard__entry-global {
    width: 100%;
    position: fixed;
    top: 10px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 999;
    cursor: pointer;
    pointer-events: none;
    transition: top .5s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.sharecard__entry {
    position: absolute;
    right: 0;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    background-color: hsla(0,0%,100%,.95);
    border-radius: 20px 0 0 20px;
    z-index: 1000;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10px 0 12px;
    font-size: 12px;
    line-height: 12px;
    pointer-events: auto;
    color: #333;
}
.sharecard__entry, .sharecard__entry-global {
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
}
.sharecard__entry-icon {
    margin-right: 5px;
    width: 20px;
    position: relative;
    top: -1px;
}
.sharecard__entry-icon img {
    margin: 0;
    width: 100%;
}

/* 直播未开播倒计时 */
.live-count-down{
	position: absolute;
    top: 0;
    width: 80%;
    height: 10rem;
    left: 50%;
    margin-left: -40%;
	border-radius: 35px;
    background-color: rgba(0,0,0,0.7);
	z-index: 999;
}
.live-count-down .live-title{
	display: block;
	text-align: center;
    color: #fff;
    font-size: 1.5rem;
    margin: 20px auto;
}
.live-count-down .countdown-main {
    margin-left: auto;
    margin-right: auto;
    width: 11.6rem;
    height: 2rem;
    margin-top: 10px;
    display: block;
}
.live-count-down .live-timmer {
	display: block;
	text-align: center;
    color: #333;
    font-weight: 700;
}
.live-count-down .countdown-main .timmer_unit {
    position: relative;
    float: left;
    width: 3rem;
    height: 2rem;
    text-align: center;
    background-color: #D1211E;
    margin-right: 20px;
    color: white;
    font-size: 20px;
}
.live-count-down .countdown-main .timmer_unit:last-child{
	 margin-right: 0;
}
.live-count-down .countdown-main .timmer_unit:after {
    content: ":";
    display: block;
    position: absolute;
    right: -20px;
    font-weight: bolder;
    font-size: 18px;
    width: 20px;
    height: 100%;
    top: 0;
}
.live-count-down .countdown-main .timmer_unit{
	content: "";
}
.live-count-down .countdown-main .timmer_second:after{
	content: none;
}
.live-count-down .live-tips{
	display: block;
    margin-top: 1rem;
    font-size: .8rem;
    color: white;
    text-align: center;
}

/* 限时折扣价格 */
.discount-limit-price {
	height: 50px;
	box-sizing: border-box;
	overflow: hidden;
}

.discount-limit-price .discount-limit-price-left {
	float: left;
	width: 65%;
	height: 100%;
	background-color: #f23030;
	padding: 8px 0 0 0;
}

.discount-limit-price .discount-limit-price-right {
	float: left;
	width: 35%;
	height: 100%;
	background-image: linear-gradient(-180deg,#fff091,#fddc59);
	padding-top: 8px;
	text-align: center;
}

.discount-limit-price .discount-sale-price {
	color: #fff;
	position: relative;
	top: -3px
}

.discount-limit-price .discount-sale-num {
	font-size: 20px;
	width: auto;
	margin-right: 5px;
	display: inline-block;
	float: left;
}

.discount-limit-price .discount-sale-time .discount-sale-time-item {
	background: #8d5625;
	border-radius: 4px;
	width: auto;
	height: 20px;
	min-width: 20px;
	display: inline-block;
	text-align: center;
	color: #fff;
	line-height: 22px
}

.discount-limit-price .discount-sale-time .discount-sale-time-mh {
	color: #8d5625;
	font-size: 10px;
}

.discount-limit-price .discount-sale-time-day {
	font-size: 10px;
	color: #8d5625;
	letter-spacing: 0;
	line-height: 10px;
}

.discount-limit-price .discount-sale-text {
	font-size: 10px;
	color: #ef3055;
	margin-bottom: 5px;
	letter-spacing: 1px;
	line-height: 10px
}

.discount-limit-price .original-cost {
	text-decoration: line-through;
	position: relative;
	color: #fff;
	font-size: 12px;
	opacity: .55;
	margin-bottom: 2px
}

.discount-limit-price .discount-sale-countdown {
	color: #fff;
	font-size: 10px
}

.discount-limit-price .discount-sale-num-text {
	font-size: 24px
}

.discount-limit-price .discount-sale-num-sub {
	font-size: 24px;
	margin-left: 5px;
	position: relative
}

.discount-limit-price .discount-sale-num-sub-text {
	position: absolute;
	top: -14px;
	left: 0;
	font-size: 10px;
	white-space: nowrap;
	letter-spacing: 1.25px;
	color: #fff8a2
}

.discount-limit-price .discount-sale-num-main {
	font-size: 48px;
	line-height: 40px
}

.discount-limit-price .original-tips {
	background: #c73244;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
	letter-spacing: 1px;
	line-height: 12px;
	padding: 2px 2px 2px 4px
}

.lecture-page .weui-flex-item {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}
.weui-flex-item {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.text-left {
	text-align: left;
}

/* 直播互动 */
.chat_wrap{
	background-color:#efeff4;
}
.chat_wrap .chat_tips{
	padding: 60px 0;
    font-size: 16px;
    text-align: center;
}
.chat_wrap .chat_bd {
    height: 100%;
    box-sizing: border-box;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: flex;
    margin: 6px 0 5px 0;
    overflow-y: scroll;
	padding: 0 15px;
}
.chat_wrap .chat_main {
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}
.chat_wrap .chat_main .history_message{
	font-size: 12px;
    text-align: center;
    padding: 10px;
}
.chat_wrap .chat_bd,.chat_wrap .chat_main {
    -webkit-box-flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
}
.chat_wrap .chat_list, .chat_wrap .chat_self{
    margin:0 !important;
}
.chat_wrap .chat_list .chat_me {
    margin-right: 50px;
    margin-bottom: 8px;
}
.chat_wrap .chat_me {
    display: flex;
}
.chat_wrap .chat_flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.chat_wrap .chat_item p {
    margin: 4px 0;
    color: #a8a8ac;
    font-size: 12px;
}
.chat_wrap .chat_list .chat_me p {
    text-align: left;
}
.chat_wrap .chat_item p span {
    margin-left: 9px;
}
.chat_wrap .chat_list .chat_me .chat_msg {
	background: #9EEA6A;
    color: #000;
    float: left;
}
.chat_wrap .chat_item div {
    padding: 8px 12px;
    font-size: 13px;
    line-height: 1.5em;
    border-radius: 5px;
    display: inline-block;
	white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.chat_form_area {
	position: fixed;
    width: 100%;
    bottom: 0;
	padding: 4px;
    background-color: #f7f7f7;
	display: none;
}
.chat_form_area .chat_form {
	margin-right: 70px;
    margin-left: .6rem;
    padding: 3px 10px;
    border: 1px solid #dcdcdc;
    background: #FFF;
    border-radius: 5px;
    line-height: 2em;
    width: 70%;
}
.chat_form_area .stop_chat_form {
	margin-right: 1.2rem;
    margin-left: .6rem;
    padding: 3px 10px;
    border: 1px solid #dcdcdc;
    text-align: center;
    border-radius: 5px;
    line-height: 2em;
}
.chat_form_area .chat_form .chat_input {
    border: none;
    width: 100%;
    line-height: 2em;
    font-size: 12px;
}
.chat_form_area .chat_form .chat_send {
	position: absolute;
    right: 4%;
    top: 5px;
    width: 15%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    background: #06AD56;
    color: #FFF;
}
.chat_wrap .chat_self .chat_me {
    margin-left: 50px;
    margin-bottom: 7px;
}
.chat_wrap .chat_self .chat_me p {
    text-align: right;
}
.chat_wrap .chat_self .chat_me .chat_msg {
	background: #fff;
    color: #000;
    float: right;
}

.chat_wrap .login-btn {
	font-weight: 700;
    font-size: 16px;
    color: #06AD56;
}

.online_wrap{
	width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
}
.online_inner{
	position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    z-index: 1;
    font-size: .8rem;
    padding: .2rem 0;
}