@media screen and (max-width:414px) {
	html {
		font-size: 100px
	}
}
@media screen and (min-width:520px) {
	html {
		font-size: 126px
	}
}
@keyframes wave-animation-1 {
	0% {
		background-position: 0 top
	}
	100% {
		background-position: 600px top
	}
}
@keyframes wave-animation-2 {
	0% {
		background-position: 0 top
	}
	100% {
		background-position: 600px top
	}
}
.my-main {
	height: calc(100vh - 54px);
	width: calc(100vw)
}
.my-main .about-panel-copyright {
	bottom: 40px
}
.my-message-scroll {
	top: calc(100vw * 9 /16);
	position: relative;
    margin-bottom: 70px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	animation-fill-mode: forwards;
	background-color: #FFFFFF;
}
.my-head {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: calc(100vw);
	background: url(../../images/agency-top.jpg) 0 0 no-repeat;
	background-size: cover
}
.my-head-c {
	position: relative;
	color: #fff;
	height: calc(100vw * 9 /16);
	width: 100%;
	background: rgba(0, 0, 0, .2);
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	display: -webkit-flex
}
.my-head-c .nickname{
	display: block;
	text-align: center;
}
.my-head-c .studentno{
	text-align: center;
}
@supports (-webkit-backdrop-filter:none) {
	.my-head-c {
		background: rgba(0, 0, 0, .2);
		-webkit-backdrop-filter: brightness(1) blur(3px)
	}
}
.my-head .water {
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 30px;
	width: 100%;
	z-index: 3
}
.my-head .water-c {
	position: relative
}
.my-head .water-1, .water-2 {
	position: absolute;
	width: 100%;
	height: 30px
}
.my-head .water-1 {
	background: url(../../images/water-1.svg) repeat-x;
	background-size: 600px;
	-webkit-animation: wave-animation-1 3.5s infinite linear;
	animation: wave-animation-1 3.5s infinite linear
}
.my-head .water-2 {
	top: 5px;
	background: url(../../images/water-2.svg) repeat-x;
	background-size: 600px;
	-webkit-animation: wave-animation-2 6s infinite linear;
	animation: wave-animation-2 6s infinite linear
}
.my-head .water-stop .water-1, .my-head .water-stop .water-2 {
	-webkit-animation-play-state: paused
}
.my-head .setting {
	position: absolute;
	top: 0;
	right: 0;
	padding: 25px;
	font-size: 22px;
	line-height: 22px;
	text-shadow: 0 1px 0 #666
}
.my-head-c-avatar {
	position: relative;
	display: block;
	width: 66px;
	height: 66px;
	padding: 3px;
	background: rgba(255, 255, 255, .5);
	border-radius: 50%;
	margin: 0 auto 10px auto
}
.my-head-c-avatar img {
	width: 100%;
	border-radius: 50%
}
.my-head-c-avatar .userinfo-avatar-vip {
	width: 30%;
	height: 30%;
	bottom: 3px;
	right: 3px
}
.my-head-c-avatar .userinfo-avatar-vip i {
	font-size: 80%
}
.my-head-c-sign {
	display: block;
	text-shadow: 0 1px 0 #333
}
.my-head-vip {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 100px;
	background: url(../../images/vip-icon.png) no-repeat;
	background-size: 100%;
	z-index: 2;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}
.my-data {
	padding: 5px 30px 0;
}
.my-data li {
	padding: 20px 0;
}
.my-data li.wallet {
	width: 48%;
	float: left;
	text-align: center;
	margin-right: 15px;
}
.my-data li.credit {
	text-align: center;
	margin-left: 15px;
}
.my-data strong {
	color: #F05654;
	display: block;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2;
}
.my-data span {
	color: #999;
	font-size: 12px
}
.my-apps {
	font-size: 16px;
	margin: 0 30px;
	min-height: calc(100% - 93px);
	padding-bottom: 50px;
	position: relative;
	box-sizing: border-box;
    text-align: center;
}
.my-apps .my-apps-a {
	position: relative;
	float: left;
	width: 50%;
	color: #535353
}
.my-apps .my-apps-c {
	padding: 10px 0
}
.my-apps .my-apps-a:nth-child(odd) .my-apps-c {
	margin-right: 15px
}
.my-apps .my-apps-a:nth-child(even) .my-apps-c {
	margin-left: 15px
}
.my-apps .my-apps-a:nth-child(1) .my-apps-c, .my-apps .my-apps-a:nth-child(2) .my-apps-c {
	padding-top: 20px
}
.my-apps .my-apps-a span {
	display: block;
	line-height: 24px;
	line-height: 24px
}
.my-apps .my-apps-a em {
	display: block;
	line-height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #ccc
}
.my-apps-one .my-apps-a {
	width: 100%;
	float: none
}
.my-apps-one .my-apps-a:nth-child(odd) .my-apps-c {
	margin-right: 0
}
.fa-blue{
	color: #3665D2;
}
.fa-red{
	color: #f75858;
}
.fa-orange{
	color: #f9681e;
}
.fa-green{
	color: #00a700;
}
.fa-edit{
	color: #1499ce;
}
.fa-pink{
	color: #f6686e;
}
.logout {
    width: 90%;
    margin: 0 auto 45px;
}
.logout a{
	display: inline-block;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: #dcdcdc 1px solid;
    margin-top: 14px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    color: #636282;
    font-size: 16px;
}
