@charset "utf-8";

.cbox {
    display: -o-box;
    -o-box-align: center;
    -o-box-pack: center;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-box;
    -webkit-box-align: center;
}
.agency {
    box-sizing: border-box;
}
.agency-head {
    padding: 0 10px;
    height: 150px;
    font-size: 12px;
    color: #fff;
    overflow: hidden;
    background: url("../../images/teacher-top.jpg?v=3") no-repeat;
    background-size: cover;
}

.agency-head .pic {
    margin-right: 10px;
    width: 70px;
    height: 70px;
	border-radius: 50%;
}

.agency-head .teacher-info{
	width: 76%;
    height: 78px;
}

.agency-head .title {
    font-size: 14px;
    margin-left: 10px;
}

.agency-head .data {
    text-align: left;
    color: rgba(255, 255, 255, .7);
    overflow: hidden;
}

.agency-head .data .num,
.agency-head .data .per {
    text-align: center;
    line-height: 16px;
    width: 75px;
}

.agency-head .data .line {
    display: block;
    width: 0;
    height: 36px;
    margin: 0 10%;
    border-right: 1px solid rgba(255, 255, 255, .12);
}

.agency-head .link {
    display: block;
    float: right;
    width: 52px;
    border: 1px solid rgba(255, 255, 255, .12);
    height: 28px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, .08);
}

.agency-head .btn-share {
    display: block;
    color: #fff;
    width: 52px;
    height: 28px;
    line-height: 28px;
    text-align: right;
}

.agency-head .btn-share .ico-share2 {
    vertical-align: -3px;
}


@-webkit-keyframes bling {
    0% {
        opacity: .3;
        transform: scale(1);
    }
    25% {
        opacity: .5;
        transform: scale(1.1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    75% {
        opacity: .5;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes bling {
    0% {
        opacity: .3;
        transform: scale(1);
    }
    25% {
        opacity: .5;
        transform: scale(1.1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    75% {
        opacity: .5;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/* 引用详情页 tab */
.details-tab {
	font-family:"微软雅黑";
    position: relative;
    border-top: 1px solid #e6e6e6;
    background-color: #f4f4f4;
    overflow: hidden;
}

.details-tab.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}

.details-tab li {
    float: left;
    width: 33.333%;
}

.details-tab li:last-child {
    width: 33.334%;
}

.details-tab a {
    display: block;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: #666;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

.details-tab .cur a {
    position: relative;
    color: #f8845f;
    border-bottom: 2px #f8845f solid;
}

.agency-tab li,
.details-tab li:last-child {
    width: 50%;
}

/*tab 目录 、节课 / 简介 */
.lesson-teacher-content {
	padding: 10px;
    background-color: #fff;
}

.agency-profile {
    font-size: 14px;
    color: #666;
}

.agency-profile .g-title {
    margin: 0 10px -5px;
}

.agency-info-box {
    padding: 15px 1pxpx ;
}

.agency-info {
    height: 61px;
    margin-top: -3px;
}

.d-list-unfold {
    display: block;
    margin: 5px auto 10px;
}

.agency-info.te2 {
    -webkit-line-clamp: 3;
}

.agency-info .h-auto {
    height: auto;
    -webkit-line-clamp: initial;
}

/*tab 简介*/
.agency-teachers .right-box img{
	vertical-align: top;
	max-width: 100% !important;
}
.ico-remind {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background: url("../../images/ico-remind.png") no-repeat;
}

/*购买讲师*/
.buy-teacher{
	font-family: "微软雅黑";
    font-size: 14px;
    margin-bottom: 8px;
    text-align: center;
	clear: left;
    height: 90px;
    border-bottom: 1px solid #e6e6e6;
}
.buy-teacher .vip-icon {
    display: block;
    float: left;
    margin-top: 20px;
}
.buy-teacher .vip-icon img {
    width: 50px;
    height: 50px;
}
.buy-teacher .notice_active {
    display: block;
    float: left;
    width: 60%;
    text-align: left;
    padding-left: 10px;
	margin-top: 3px;
}
.buy-teacher span.price {
	color: #c56b29;
    font-size: 22px;
    font-weight: bold;
}
.buy-teacher .vip-name{
	color: #d0a023;
	height: 25px;
    overflow: hidden;
}
.buy-teacher .vip-time{
	color: #525252;
}
.buy-teacher .buybtn {
    display: inline-block;
    float: right;
    background: #edd5a0;
    border-radius: 20px;
    padding: 3px 10px;
    margin-top: 32px;
	margin-right: 5px;
    font-size: 14px;
    max-width: 15%;
}
.buy-teacher .buybtn a{
	color: #5f462b;
	padding: 0px 5px;
}
.buy-teacher .no-content {
	padding: 40px 0;
	margin: 0 auto;
	text-align: center;
}
.buy-teacher .vip-card {
	padding: 30px 0;
	text-align: center;
	background: #f1f1f5;
}

.buy-teacher .vip-card .vip-gallery {
	font-size: 16px;
	text-align: center;
	font-family: "寰蒋闆呴粦";
	color: #606060;
	display: inline-block;
	padding: 9px 0;
	background-image: url(../../images/vipcard-bg.png);
    width: 90%;
    height: 100%;
	border-radius: 25px;
}

/*课程列表*/
.normal_grid {
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px #ececec solid;
}
.lesson-teacher-content a:last-child{
	border-bottom: none;
}
.normal_grid .normal_grid_a {
    width: 47%;
    min-width: 163px;
    margin-right: 15px;
}
.normal_grid_a .img-box {
    padding-bottom: 61.6%;
}
.learned::before{
	margin-right: 4px;
}
.grid_title2 {
    font-size: 14px;
    color: #1d1d1d;
    line-height: 1.4;
    max-height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
}
.grid_bottom2 {
    min-height: 25px;
    margin-top: 5px;
}
.grid_bottom2 .text {
    font-size: 12px;
    color: #1d1d1d;
    font-weight: bold;
}
.grid_bottom2 .eva {
    font-size: 11px;
    color: #969696;
}