html,body {
	height: 100%;
	background: #F1F1F5;
	-webkit-tap-highlight-color: transparent;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	color: #333333;
	font-size: 14px;
	font-family: "TrebuchetMS","Rotobo","Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif, "Helvetica Neue", Helvetica, Arial;
}

h1,h2,h3,h4,h5,h6,i,em {
	font-weight: normal;
	font-style: normal;
}
input[type=submit], input[type=reset], input[type=button], button,select {
	-webkit-appearance: none;
}
ol,ul,menu {
	list-style: none outside none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{text-decoration:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);  }
a:focus{ outline:none; -moz-outline:none;}
a:visited{ outline:none; -moz-outline:none;} 
a:active{
  color: #fff;
  text-decoration: none;
}
a img {
	border: none;
}
.page-container {
  margin-bottom: 1.2rem;
}
.marjor_introduce {
  padding: 0 0 .26rem;
}
/* .major_head {
  padding: .19rem .5rem;
  width: 100%;
  box-sizing: border-box;
  background: url({MODULE_URL}template/mobile/{$template}/images/index/major_head_bg.png) no-repeat;
  background-size: 100% 100%;
  color: #fff;
} */
.marjor_introduce a {
  color: #fff;
}
.major_head .code {
  font-size: .24rem;
  margin-bottom: .17rem;
}
.table {
  width: 100%;
}
.table thead {
  color: #ffdadb;
  font-size: .24rem;
}
.table .text {
  font-size: .34rem;
  margin-top: .2rem;
}
.introduce {
  color: #ffdadb;
  font-size: .24rem;
}
.introduce_des {
  font-size: .28rem;
}
.major_card {
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 0 8px 0 hsla(0,0%,57%,.18);
  box-shadow: 0 0 8px 0 hsla(0,0%,57%,.18);
  margin-top: .26rem;
  padding-top: .4rem;
}
.major_card_head {
  border-radius: 0 50px 50px 0;
  background: #ef2f33;
  padding: .12rem .28rem;
  font-size: .26rem;
  color: #fff;
  text-align: center;
  width: 1.66rem;
  margin-bottom: .15rem;
}
.major_occupation {
  font-size: .28rem;
  color: #000;
  padding: 0 .28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.major_occupation li {
  margin: .2rem .3rem 0 0;
}

.major_content {
  margin-bottom: .7rem;
}

.major_subject {
  padding: 0 .5rem .5rem;
  position: relative;
}
.subject {
  font-size: .28rem;
  font-weight: 700;
}

.major_subject li {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: .24rem;
  color: #9b9b9b;
  margin-top: .2rem;
}
.top_subject::after {
  content: "";
  width: 5.84rem;
  height: 1px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  background-color: #eee;
}
.bottom_subject::before {
  content: "";
  width: 5.84rem;
  height: 1px;
  position: absolute;
  top: top;
  margin: 0 auto;
  background-color: #eee;
}

.major_card_explain {
  padding-top: 0;
}
.explain {
  padding: .12rem .2rem;
  word-break: break-all;
  line-height: 1.4;
  font-size: .20rem;
}

.marjor_introduce_footer {
  position: fixed;
  display: flex;
  width: 100%;
  height: 1.2rem;
  background-color: #fff;
  bottom: 0;
  left: 0;
  max-width: 640px;
}
.footer_lf {
  flex: 1;
  padding: .3rem .3rem;
  display: flex;
  align-items: center;
}

.footer_lf img {
  width: .78rem;
  height: .78rem;
}

.footer_lf .text {
  font-size: .26rem;
  line-height: 1;
  color: #363636;
  padding-left: .15rem;
}

.footer_lf .text .t2 {
  opacity: .6;
  margin-top: .1rem;
}

.footer_rt {
  flex: 1;
  color: #fff;
  background-color: #ef2f33;
  display: flex;
  align-items: center;
  font-size: .26rem;
  text-align: center;
}

.footer_rt .box_lf,.footer_rt .box_rt{
  flex: 1;
  position: relative;
  color: #fff;
}
.footer_rt .box_lf div,.footer_rt .box_rt div{
  width: .48rem;
  margin: 0 auto;
}

.footer_rt img {
  width: 100%;
  object-fit: cover;
}

.box_lf::after {
  content: "";
  width: 1px;
  height: .5rem;
  position: absolute;
  right: 0;
  bottom: .2rem;
  background-color: #eeeeeeb5;
  opacity: .6;
}
