<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no">
		<meta name="full-screen" content="yes">
		<meta name="browsermode" content="application">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css"/>
		<script type="text/javascript" src="{MODULE_URL}template/mobile/{$template}/style/jsv2/jquery.min.js?v={$versions}"></script>
		<title>
      报名信息填写
		</title>
		<style>
			p {
				margin: 0;
				padding: 0;
			}
			button {
				border: none;
			}
			.content {
				position: absolute;
				font-size: .28rem;
				width: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
			.gift299 {
				width: 7.1rem;
    		min-height: 7.24rem;
				text-align: center;
				margin: 0 auto;
				background: url({MODULE_URL}template/mobile/{$template}/images/299gift.png) no-repeat;
				background-size: 100% 100%;
			}
			.p1 {
				font-size: .54rem;
				font-weight: 700;
				color: #e81733;
				padding-top: .26rem;
			}
			.p2 {
				color: #e81733;
				font-weight: 500;
			}
			.text {
				margin-top: .4rem;
				padding: 0 .9rem;
				text-align: left;
			}
			.text>div {
				padding: .1rem .2rem;
				background-color: #fff;
				border-radius: 5px;
				margin-top: .1rem;
				padding-left: .4rem;
				position: relative;
			}
			.text>div::before {
				position: absolute;
				content: "";
				width: 5px;
				height: 5px;
				border-radius: 50%;
				top: .2rem;
				left: .2rem;
				background-color: #c22338;
			}
			.btn_box {
				margin-top: .3rem;
				padding: 0 .9rem;
			}
			.close {
				width: 100%;
				height: .86rem;
				font-weight: 600;
				font-size: .30rem;
				line-height: .76rem;
				text-align: center;
				color: #fdf2b9;
				background: none;
				border: solid 2px #fdf2b9;
				border-radius: 5px;
				box-sizing: border-box;
			}
			.buy_it {
				width: 100%;
				height: .86rem;
				font-size: .30rem;
				line-height: .76rem;
				text-align: center;
				box-sizing: border-box;
				color: #6b420b;
				font-weight: 500;
				background: -webkit-gradient(linear,right top,left top,from(#f0c664),to(#fef3be));
				background: linear-gradient(270deg,#f0c664,#fef3be);
				-webkit-box-shadow: 0 4px 4px 0 #ea1527;
				box-shadow: 0 4px 4px 0 #ea1527;
				border-radius: 5px;
				margin-top: .2rem;
			}
			.txt_bottom {
				color: #fff;
				font-size: .24rem;
				margin-top: .2rem;
			}
			.close_box {
				width: 100%;
				text-align: center;
				margin-top: .3rem;
			}
		</style>
  </head>
	<body>
		<div class="page-container" id="page-container">
			<van-form @failed="failedSubmit" @submit="sucessSubmit" :show-error='false'>
				<!-- 姓名 -->
				<van-cell-group>
					<van-field 
						v-model="name" 
						label="姓名" 
						placeholder="请输入您的姓名" 
						maxlength = 8 
						show-error=false
						:rules="[{ required: true, message: '用户名不能为空' }]" 
						input-align="right"
						error-message-align="right"
					/>
				</van-cell-group>
				<!-- 身份证 -->
				<van-cell-group>
					<van-field 
						v-model="idcard" 
						label="身份证" 
						placeholder="请输入您的身份证"
						show-error="false"
						maxlength = 18 :rules="[{ required: true, message: '身份证信息不能为空' },{ validator: idcardReg, message: '请输入正确的身份证信息' }]"  
						input-align="right"
						error-message-align="right"
						mame="idcard"
					/>
				</van-cell-group>
				<!-- 报读类型 -->
				<van-cell-group>
					<van-field 
						v-model="type" 
						label="报读类型" 
						readonly
						input-align="right"
						error-message-align="right"
						mame="type"
					/>
				</van-cell-group>
				<!-- 年级 -->
				<van-cell-group v-show="false">
					<van-field 
						v-model="grade" 
						mame="grade"
						label="年级"  
						readonly
						input-align="right"/>
				</van-cell-group>
				<!-- 院校 -->
				<van-cell-group>
					<van-field 
						v-model="school" 
						mame="school"
						label="院校"
						placeholder="请点击选择院校"
						input-align="right" 
						clickable readonly
						@click="clickSchool"
					/>
				</van-cell-group>
				<!-- 层次 -->
				<van-cell-group>
					<van-field 
						v-model="level"
						mame="level"
						label="层次"
						placeholder="请点击选择层次"
						input-align="right"
						clickable
						readonly
						@click="clickLevel"
					/>
				</van-cell-group>
				<!-- 专业 -->
				<van-cell-group>
					<van-field 
						v-model="major" 
						mame="major" 
						label="专业" 
						placeholder="请点击选择专业"
						input-align="right"
						clickable 
						readonly
						@click="clickMajor"
					/>
				</van-cell-group>
				<!-- 城市 -->
				<van-cell-group>
					<van-field 
						v-model="city" 
						mame="city" 
						label="城市" 
						placeholder="请点击选择城市"
						input-align="right"
						clickable 
						readonly
						@click="clickCity"
						/>
				</van-cell-group>
				<!-- 考试区县 -->
				<van-cell-group>
					<van-field 
						v-model="testing" 
						name="testing" 
						label="考试区县" 
						placeholder="请点击选择院校"
						input-align="right"
						clickable 
						readonly
						@click="clickTesting"
					/>
				</van-cell-group>
				<div style="margin: 16px;">
					<van-button round block type="info" native-type="submit">
						提交
					</van-button>
				</div>
			</van-form>

			<!-- 学校选择器 -->
			<van-popup v-model="schoolPicker" position="bottom">
				<van-picker
					show-toolbar
					:columns="schoolName"
					@confirm="selectSchool"
					@cancel="schoolPicker = false"
					ref="school"

				/>
			</van-popup>

			<!-- 层次选择器 -->
			<van-popup v-model="levelPicker" position="bottom">
				<van-picker
					show-toolbar
					:columns="levelName"
					@confirm="selectLevel"
					@cancel="levelPicker = false"
				/>
			</van-popup>

			
			<!-- 专业选择器 -->
			<van-popup v-model="majorPicker" position="bottom">
				<van-picker
					show-toolbar
					:columns="majorName"
					@confirm="selectMajor"
					@cancel="majorPicker = false"
				/>
			</van-popup>

			<!-- 城市选择器 -->
			<van-popup v-model="cityPicker" position="bottom">
				<van-picker
					show-toolbar
					:columns="cityName"
					@confirm="selectCity"
					@cancel="cityPicker = false"
				/>
			</van-popup>

			<!-- 考试区县选择器 -->
			<van-popup v-model="testingPicker" position="bottom">
				<van-picker
					show-toolbar
					:columns="testingName"
					@confirm="selectTesting"
					@cancel="testingPicker = false"
				/>
			</van-popup>
			<van-overlay :show="show">
				<div class="content">
					<div class="gift299">
						<p class="p1">上进辅导礼包</p>
						<p class="p2">备考科目:(数学、语文、专科外语)</p>
						<div class="text">
							<div>考前辅导课(原价600, 抢购价199)</div>
							<div>三本教材(原价114, 抢购价100)</div>
							<div>成考分过295分,奖励三年全额奖学金券(不含政策加分)</div>
						</div>
						<div class="btn_box">
							<!-- <button class="close" @click="show = false">自信裸考</button> -->
							<button class="buy_it" @click="giftBuy()">¥299 购买上进礼包</button>
						</div>
						<p class="txt_bottom">自愿购买，购买后不予退还</p>
					</div>
					<div class="close_box">
						<van-icon name="close" size=".7rem" @click="show = false" color="#fff"/>
					</div>
				</div>
			</van-overlay>
    </div>
</body>
<script type="text/javascript" src="{MODULE_URL}template/mobile/{$template}/style/jsv2/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}template/mobile/{$template}/style/js/m-fit.js"></script>
<script>
		var vm = new Vue({
        el: '#page-container',
        data (){
					return {
						formData: {
							name: '',
							idcard: '',
							type: '',
							grade: '',
							school: '',
							level: '',
							major: '',
							city: '',
							testing: '',
						},
						formID: {
							name: '',
							idcard: '',
							typeId:null,
							gradeID: null,
							schoolID: null,
							levelID: null,
							majorID: null,
							cityID: null,
							testingID: null
						},
						// 绑定的内容数据
						name: '',
						idcard: '',
						type: '',
						grade: '',
						school: '',
						level: '',
						major: '',
						city: '',
						testing: '',
						schoolId: null,
						levelId: null,
						majorId: null,
						testingId: null,
						cityId: null,

						// 选择器数据
						schoolName: [],
						levelName: [],
						majorName: [],
						cityName: [],
						testingName: [],

						// 选择器绑定展示和隐藏的数据
						schoolPicker: false,
						levelPicker: false,
						majorPicker: false,
						cityPicker: false,
						testingPicker: false,

						//其他数据
						typeId: null,
							// 299存的参数，true时则是299,提交表单后则跳转至支付
						TF299adult: false,
						selectIndex: null,
						schoolData: [],
						schoolIdData: [],
						levelData: [],
						levelIDdata: [],
						cityData:[],
						majorIdData: [],
						cityIdData: [],
						testingIdData: [],
						testingData: [],
						testingObj: {},
						show: false
					}
				},
				created () {
					let _this = this
					let myDate = new Date()
					_this.grade = myDate.getFullYear() // 获取当前年份
					let type = '{php echo $_GPC["type"]}'
					let exist299 = '{php echo $_GPC["exist299"]}'
					_this.schoolData ={php echo json_encode($school)};
					// 在此之前增加一个判断，判断是否是299,如果是，则存一个参数表示有299，则需要去支付页面。
					if(exist299 !== ''){
						_this.TF299adult = true
					}

					// 这里就是判断正常的信息页面
					if ( type === 'adult') {
						_this.type = '成人高考'
						// 存入一个参数，方便传后台和下一级
						_this.typeId = 'adult'
					} else if( type == 'open'){
						_this.type = '开放教育'
						_this.typeId = 'open'
					} else if( type == 'self'){
						_this.type = '自学考试'
						_this.typeId = 'self'
					} else if( type == 'online'){
						_this.type = '网络教育'
						_this.typeId = 'online'
					} else if(type == ''){ // 传入类型不存在时默认为成人高考
						_this.type = '成人高考'
						_this.typeId = 'adult'
						console.log('类型不存在')
					}

				},
        methods: {
					// 身份证正则验证
					idcardReg(val){
						let Reg = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|x|X)$/
						return Reg.test(val)
					},

					// 点击对应input时
						// 学校内容的选择
					clickSchool(){
						let _this = this
						if(_this.name == '' || _this.idcard == ''){ // 当姓名或者身份证为空时，返回错误信息
							_this.$notify({ type: 'warning', message: '请将信息完善后再选取学校'})
							return
						}else { // 姓名身份证都填写了后，弹出显示学校选择信息
							// 置空
							_this.schoolName = []
							_this.levelName = [] 
							_this.majorName = []
							_this.cityName = []
							_this.testingName =[]

							let data = _this.schoolData
							for(let i = 0; i < data.length; i++) {
								// 学校名称push近数组
								_this.schoolName.push(data[i].name)
								// 学校IDpush进数组
								_this.schoolIdData.push(data[i].id)
								// 层次数据push进数组
								_this.levelData.push(data[i].lid)
							}
							_this.schoolPicker = true
						}
					},
					selectSchool(val,index){ // 内容选中后
						let _this = this
						_this.school = val
						_this.selectIndex = index
						_this.schoolId = _this.schoolIdData[index]// 取学校ID
						//置空
						_this.level = ''
						_this.major = ''
						_this.city = ''
						_this.testing =''
						_this.schoolPicker = false
					},
					
						// 层次内容的选择
					clickLevel(){
						let _this = this
						let selectIndex = _this.selectIndex
						if(_this.school == ''){ // 当学校信息为空时，弹出错误信息
							_this.$notify({ type: 'warning', message: '请先选择学校'})
							return
						}else {
							// 置空
							_this.levelName = [] 
							_this.majorName = []
							_this.cityName = []
							_this.testingName =[]
							// 根据上一级保存的index来查找对应学校的层次
							let data = _this.schoolData[selectIndex].lid
							for(let i =0; i < data.length; i++) {
								_this.levelName.push(data[i].name) // 取层次列表
								_this.levelIDdata.push(data[i].id) // 取ID
							}
							_this.levelPicker = true
						}
					},
					selectLevel(val,index){
						let _this = this
						_this.level = val
						_this.levelId = _this.levelIDdata[index]
						// 置空
						_this.major = ''
						_this.city = ''
						_this.testing =''
						_this.levelPicker = false
					},

						// 专业内容的选择
					clickMajor(){
						let _this = this
						if(_this.level == ''){ // 当学校信息为空时，弹出错误信息
							_this.$notify({ type: 'warning', message: '请先选择层次'})
							return
						}else {
							// 置空
							_this.majorName = []
							_this.cityName = []
							_this.testingName =[]
							// 根据学校ID和层次ID请求专业数据
							let ajaxUrl = "{php echo $this->createMobileUrl('adultuserform', array('at'=>'pro'));}" + '&id=' + _this.schoolId + '&lid=' + _this.levelId
							$.get(ajaxUrl,function(data){
								console.log('查询数据')
							}).then(res => {
								let data = JSON.parse(res)
								console.log('数据查询成功')
								for(let i = 0; i < data.length; i++) {
									_this.majorName.push(data[i].name)
									_this.majorIdData.push(data[i].id)
								}
							})
							_this.majorPicker = true
						}
					},
					selectMajor(val,index){
						let _this = this
						_this.major = val
						_this.majorId = _this.majorIdData[index]

						// 置空
						_this.city = ''
						_this.testing =''
						_this.majorPicker = false
					},

						// 城市内容的选择
					clickCity(){
						let _this = this
						if(_this.major == ''){ // 当学校信息为空时，弹出错误信息
							_this.$notify({ type: 'warning', message: '请先选择专业'})
							return
						}else {
							// 置空
							_this.cityName = []
							_this.testingName =[]
							let index = _this.selectIndex
							let data = JSON.parse(JSON.stringify(_this.schoolData))
							let city = data[index].area
							for(key in city) {
								_this.cityIdData.push(key)
								_this.cityName.push(city[key].name)
								_this.testingData.push(city[key].tid)
							}
						}
						console.log(_this.cityIdData)
						_this.cityPicker = true
					},
					selectCity(val,index){
						let _this = this
						_this.city = val
						_this.cityId = _this.cityIdData[index]
						console.log(_this.cityId)
						_this.testingObj = _this.testingData[index]
						
						// 置空 ，
						_this.testing = ''
						_this.cityPicker = false
					},

						// 考点内容的选择
					clickTesting(){
						let _this = this
						if(_this.city == ''){ // 当学校信息为空时，弹出错误信息
							_this.$notify({ type: 'warning', message: '请先选择城市'})
							return
						}else {
							// 置空
							_this.testingName =[]
							for(key in _this.testingObj) {
								_this.testingIdData.push(key)
								_this.testingName.push(_this.testingObj[key])
							}
							_this.testingPicker = true
						}
					},
					selectTesting(val,index){
						let _this = this
						_this.testing = val
						_this.testingId = _this.testingIdData[index]
						_this.testingPicker = false
					},

					// 表单的提交
					failedSubmit(){ // 当信息不通过时
						let _this = this
						_this.$notify({ type: 'warning', message: '您提交的信息不完整，暂时无法提交'})
					},

					sucessSubmit(){ // 信息通过时
						let _this = this
						if(_this.testing == '') {
							_this.$notify({ type: 'warning', message: '您提交的信息不完整，暂时无法提交'})
							return
						}
						// 还需判断是否已存在订单，已存在则进入订单页，不存在则可进行下一步
						_this.formData.name = _this.name
						_this.formData.idcard = _this.idcard
						_this.formData.type = _this.type
						_this.formData.grade = _this.grade
						_this.formData.school = _this.school
						_this.formData.level = _this.level
						_this.formData.major = _this.major
						_this.formData.city = _this.city
						_this.formData.testing = _this.testing

						_this.formID.name= _this.name
						_this.formID.idcard = _this.idcard
						_this.formID.typeId = _this.type
						_this.formID.gradeID = _this.grade
						_this.formID.schoolID = _this.schoolId
						_this.formID.levelID = _this.levelId
						_this.formID.majorID = _this.majorId
						_this.formID.cityID = _this.cityId
						_this.formID.testingID = _this.testingId

						// 将信息存到sessionStore中，方便一步当中获取
						window.sessionStorage.setItem('userId',JSON.stringify(_this.formID))
						window.sessionStorage.setItem('userData',JSON.stringify(_this.formData))
						if(_this.TF299adult == true){ // 是299礼包进来的
							console.log('299礼包')
							_this.show = true // 299礼包弹出层弹出
						} else {
							let url ='{php echo $this->createMobileUrl("confirmform", array("do"=>"confirmform"));}' + "&sid=" + _this.schoolId + "&lid=" + _this.levelId
							location.href = url
							if( _this.typeId == 'adult' ){ // 成人高考
								console.log('提交类型为成人高考')
							} else if( _this.typeId == 'open' ){
								console.log('提交类型为开放教育')
							} else if( _this.typeId == 'self' ){
								console.log('提交类型为自学考试')
							} else if( _this.typeId == 'online' ){
								console.log('提交类型为网络教学')
							}
						}
					},
					giftBuy() {
						console.log(this.formID)
						let url ='{php echo $this->createMobileUrl("confirmform", array("do"=>"confirmform","gift"=>"exist"));}'
						location.href = url
					}

				}
    })
</script> 
</html>