<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no">
		<meta name="full-screen" content="yes">
		<meta name="browsermode" content="application">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css"/>
		<script type="text/javascript" src="{MODULE_URL}template/mobile/{$template}/style/jsv2/jquery.min.js?v={$versions}"></script>
		<title>
      请确认您的信息
		</title>
  </head>
  <style>
    #confirm_text {
      width: 96%;
      margin: 10px auto;
      font-size: 12px;
      color: rgb(0,0,0,.6);
    }
    #confirm_text p,#confirm_text span {
      margin: 0;
      padding: 0;
    }
    #confirm_text>#title {
      font-weight: 700;
      color: #000;
    }
    .van-cell__value {
      color: #1989fa;
    }
    .van-cell__label,.van-field__control {
      color: #d61838ba;
    }
  </style>
	<body>
		<div class="page-container" id="page-container">
      <div>
        <van-nav-bar
        title="请确认您的信息"
        left-text="返回"
        right-text="主页"
        left-arrow
        @click-left="onClickLeft"
        @click-right="onClickRight"
        />
      </div>
      <div>
        <van-cell-group>
          <van-cell title="报读类型" :value="contentData.type" />
        </van-cell-group>
        <van-cell-group>
          <van-cell title="专业" :value="contentData.major" />
        </van-cell-group>
        <van-cell-group v-if="!giftShow">
          <van-cell title="学费" :value="pay" label="是否可分期（是）"/>
        </van-cell-group>
        <van-cell-group>
          <van-cell title="层次" :value="contentData.level" />
        </van-cell-group>
        <van-cell-group>
          <van-cell title="姓名" :value="contentData.name" />
        </van-cell-group>
        <van-cell-group>
          <van-cell title="电话号码" :value="phone" />
        </van-cell-group>
        <van-cell-group>
          <van-cell title="身份证信息" :value="contentData.idcard" />
        </van-cell-group>
        <van-cell-group v-if="giftShow">
          <van-field 
          v-model="address" 
          label="收货地址" 
          placeholder="请填写您的详细收货地址" 
          maxlength = 30
          show-error=false
          rules="[{ required: true, message: '详细地址不能为空' }]" 
          input-align="right"
          error-message-align="right"
        />
        </van-cell-group>
      </div>
      <div id="confirm_text">
        <p id="title">备注：</p>
        <p v-if="!giftShow">
          报名成功后将会有专业老师与您联系，帮助您办理就读手续，办理成功后系统将自动返还积分到您的账号当中，请到个人中心查看积分情况，以实际到账为准。积分可用于兑换各种精美礼品。
        </p>
        <p v-else>
          支付成功后将会尽快为您发货，请填写好您的收货地址。
        </p>
        <p v-if="giftShow" style="font-size: 16px;margin: 10px 0;">您的收货地址是：<span style="color: #d61838ba;">{{address}}</span></p>
      </div>
      <div style="margin: 16px;" v-if="!giftShow">
        <van-button round block color="linear-gradient(to right, #ff6034, #ee0a24)" @click="confirmBtn">
          确认
        </van-button>
      </div>

      <div style="margin: 16px;" v-else="giftShow">
        <van-button round block color="linear-gradient(to right, #ff6034, #ee0a24)" @click="buyGift">
          立即购买
        </van-button>
      </div>
    </div>
</body>
<script type="text/javascript" src="{MODULE_URL}template/mobile/{$template}/style/jsv2/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
<script>
		var vm = new Vue({
        el: '#page-container',
        data (){
					return {
            contentData: [
            ],
            idData:[
            ],
            phone: '',
            pay: '',
            postData: {
              name: '',
              idcard: '',
              phone: '',
              type:'',
              grade: '',
              school: '',
              level: '',
              major: '',
              city: '',
              testing: ''
            },
            typeNum: 1,
            address: '',
            giftShow: false // 控制判断是否是299礼包显示
					}
				},
        created() {
          // 进入页面时再进行一次判断，防止已存在订单直接进入此页面
          let _this = this
          _this.idData = JSON.parse(window.sessionStorage.getItem('userId'))
          _this.contentData = JSON.parse(window.sessionStorage.getItem('userData'))
          let gift = '{php echo $_GPC["gift"]}'
          // 获取对应学校数据，然后根据lid查出对应的学费
          let sessonPay = {php echo json_encode($school[lid])};
          let lid = '{php echo $_GPC["lid"]}'
          let data = JSON.parse(sessonPay)
          for(key in data) {
            if(key == lid){
              _this.pay = data[key].price
            }
          }
          if(gift !== '') { // 如果礼品参数存在，则是礼包流程，显示礼包购买信息确认页面
            _this.giftShow = true
          }
          _this.phone = '{php echo $phonenumber}'
          if(_this.phone == '' || _this.contentData == '') {
            location.href = '{php echo $this->createMobileUrl("index", array("do"=>"index"));}'
          }
        },
        methods: {
          onClickLeft(){
            window.history.back(-1)
          },
          onClickRight(){
            location.href = '{php echo $this->createMobileUrl("index", array("do"=>"index"));}'
          },
          //信息确认，提交信息
          confirmBtn(){
            let _this = this
            // 要提交的内容
            _this.postData.name = _this.contentData.name
            _this.postData.idcard = _this.contentData.idcard
            _this.postData.type = _this.contentData.type
            _this.postData.phone = _this.phone
            _this.postData.grade = _this.idData.gradeID
            _this.postData.school = _this.idData.schoolID
            _this.postData.major = _this.idData.majorID
            _this.postData.level = _this.idData.levelID
            _this.postData.city = _this.idData.cityID
            _this.postData.testing = _this.idData.testingID
            // 提交报名信息
            let ajaxUrl = "{php echo $this->createMobileUrl('adultuserform', array('at'=>'enter','method'=>'ajaxgetlist'));}"
            let type = _this.contentData.type
            if(type == '成人高考') {
              _this.typeNum = 1
            } else if(type == '成人高考'){
              _this.typeNum = 2
            } else if(type == '自学考试'){
              _this.typeNum = 3
            } else if(type == '网络教育'){
              _this.typeNum = 4
            } else {
              _this.typeNum = 1
            }
            $.post(ajaxUrl,{
              name: _this.contentData.name,
              code: _this.contentData.idcard,
              mobile: _this.phone,
              tid: 1,
              mid: 1,
              sid: _this.idData.schoolID,
              lid: _this.idData.levelID,
              pid: _this.idData.majorID,
              aid: _this.idData.testingID,
              cid: _this.typeNum
              },function (data) {
                console.log(data)
            }).then(res=>{
              //提交后弹出成功信息
              _this.$toast.success({
                message: '报名成功',
                onClose: function(){
                  location.href = "{php echo $this->createMobileUrl('index');}"
                }
              });
            })
          },
          buyGift() {
            let _this = this
            if(_this.address == '') {
              _this.$notify({ type: 'warning', message: '请填写您的收货地址'})
              return
            } else {
              // 提交报名信息
              let ajaxUrl = "{php echo $this->createMobileUrl('adultuserform', array('at'=>'enter','method'=>'ajaxgetlist'));}"
              let type = _this.contentData.type
              if(type == '成人高考') {
                _this.typeNum = 1
              } else if(type == '成人高考'){
                _this.typeNum = 2
              } else if(type == '自学考试'){
                _this.typeNum = 3
              } else if(type == '网络教育'){
                _this.typeNum = 4
              } else {
                _this.typeNum = 1
              }
              $.post(ajaxUrl,{
                name: _this.contentData.name,
                code: _this.contentData.idcard,
                mobile: _this.phone,
                tid: 1,
                mid: 1,
                sid: _this.idData.schoolID,
                lid: _this.idData.levelID,
                pid: _this.idData.majorID,
                aid: _this.idData.testingID,
                cid: _this.typeNum,
                addr: _this.address
                },function (data) {
                  console.log(data)
              }).then(res=>{
                //提交后弹出成功信息
                _this.$toast.success({
                  message: '提交成功',
                  onClose: function(){
                  // 获取收货地址和用户信息，提交订单  此处参数对应的是后台课程的编号，对应才能生成订单
                  location.href = '{php echo $this->createMobileUrl("addtoorder", array("spec_id"=>"8579","id"=>"6112"));}'
                  }
                });
              })
              
            }
          }
        }
    })
</script> 
</html>