<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no">
		<meta name="full-screen" content="yes">
		<meta name="browsermode" content="application">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="{MODULE_URL}template/mobile/{$template}/style/cssv2/weui.css?v={$versions}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css"/>
    <link rel="stylesheet" href="{MODULE_URL}template/mobile/{$template}/style/cssv2/self2.css" />
		<title>
      服务大厅
		</title>
  </head>
  <style>
    .my-swipe .van-swipe-item {
      color: #fff;
      font-size: 20px;
      text-align: center;
      background-color: #39a9ed;
      border-radius: 5px;
    }
    .self_center_adver img{
      width: 100%;
      height: 2.2rem;
      display:block;
      border-radius: 5px;
    }
  </style>
	<body>
		<div class="page-container" id="page-container">
      <div class="head">
        <div class="head_left">
          <div class="head_header">
            <img :src="myHeader" alt="">
          </div>
          <div class="my_msg">
            <span class="name">{{name}}</span>
            <p>学院学号:{{id}}</p>
            <p>手机号码:<span v-if="phonShow">{{phoneSelect}}</span> <a href="{php echo $this->createMobileUrl('writemsg', array('do'=>'writemsg','op'=>'modifyMobile'));}" v-else class="phonebd">绑定手机号</a></p>
          </div>
        </div>
        <div class="head_right">
          <a class="signin" href="javascript:;;" @click="tosignin">
            <van-icon name="records" size="20" class="icon" color="#fff">
            </van-icon>
            <span style="color: #fff;">{php echo $signin_log ? '已签到' : '签到';}</span>
          </a>
        </div>
      </div>

      <div class="main_container">
        <div class="card">
          <div class="card_title">
            <div class="title">我的资产</div>
            <a class="toshopping" href="{php echo $this->createMobileUrl('shoppingmall');}">
              <img src="{MODULE_URL}template/mobile/{$template}/images/toshopping.png" alt="">
            </a>
          </div>
          <div class="my_point">
            <div>
              <p>
                <van-icon name="points" color="#F07A7A" size="20"></van-icon>
                <span>获得积分</span>
              </p>
              <p><span class="point_num">{{point}}</span></p>
            </div>
            <div>
              <p>
                <van-icon name="like-o" color="#F07A7A" size="20"></van-icon>
                <span>我的邀请</span>
              </p>
              <p><span class="point_num">{{invite_count}}</span>个</p>
            </div>
          </div>
        </div>

        <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white" v-if="advertingShow">
          <van-swipe-item class="self_center_adver">
            <a href="{php echo $this->createMobileUrl('shoppingmall');}">
              <img src="{MODULE_URL}template/mobile/{$template}/images/index/shoppingmall/hotgoods.jpg" alt="">
            </a>
          </van-swipe-item>
          <van-swipe-item>1</van-swipe-item>
        </van-swipe>

        <div class="card">
          <div class="card_title">
            <div class="title">个人业务</div>
          </div>
          <div class="menu_list">
            <a class="item" href="{php echo $this->createMobileUrl('confirm2');}">
              <div class="head_icon">
                <van-icon name="description" size="21" color="#FF6B67"/>
              </div>
              <span class="item_name">报名信息</span>
            </a>
            <a class="item" href="{php echo $this->createMobileUrl('address');}">
              <div class="head_icon">
                <van-icon name="location-o" size="21" color="#FF6B67"/>
              </div>
              <span class="item_name">地址管理</span>
            </a>
            <a class="item" href="{php echo $this->createMobileUrl('invitegift');}">
              <div class="head_icon">
                <van-icon name="medal-o" size="21" color="#FF6B67"/>
              </div>
              <span class="item_name">邀请排行榜</span>
            </a>
            
          </div>

          <!-- 清除浮动 -->
          <div class="clear"></div>
        </div>
        <div class="card">
          <div class="card_title">
            <div class="title">其他功能</div>
          </div>
          <div class="menu_list">
            <!-- <a class="item">
              <div class="head_icon">
                <van-icon name="down" size="21" color="#FF6B67"/>
              </div>
              <span class="item_name">APP下载</span>
            </a> -->
            <a class="item" href="tel:{$extra_config['mobile']}">
              <div class="head_icon">
                <van-icon name="service-o" size="21" color="#FF6B67"/>
              </div>
              <span class="item_name">联系客服</span>
            </a>
            
          </div>

          <!-- 清除浮动 -->
          <div class="clear"></div>
        </div>
      </div>
    </div>
<script type="text/javascript" src="{MODULE_URL}template/mobile/{$template}/style/jsv2/jquery.min.js?v={$versions}"></script>
<script type="text/javascript" src="{MODULE_URL}template/mobile/{$template}/style/jsv2/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}template/mobile/{$template}/style/js/m-fit.js"></script>
<script>
  var vm = new Vue({
      el: '#page-container',
      data () {
        return {
          myHeader: '',
          name: '',
          id: '',
          phone: null,
          point: null,
          phonShow: false,
          advertingShow: true,
          invite_count: 0
        }
      },
      created () {
        let _this = this
        _this.dataFirst()
      },
      methods: {
        // 初始化时需要的数据
        dataFirst () {
          let _this = this
          this.invite_count = {php echo $invite_count};
          let arr = {php echo json_encode($_W["fans"])};
          // 获取积分和手机号
          _this.point = {php echo json_encode($_W["member"]["credit1"])};
          _this.phone = {php echo json_encode($_W["member"]["mobile"])};
          _this.myHeader = arr.avatar
          _this.name = arr.nickname
          _this.id = arr.uid
          // 手机号是否注册
          if(_this.phone !== '') {
            _this.phonShow = true // 如果为空时，绑定按钮显示
          }
        },
        // 签到功能判定权限，没绑定手机号，不能参加签到活动
        tosignin() {
            location.href = '{php echo $this->createMobileUrl("signin");}'
        }
      },
      computed: {
        phoneSelect () {
          let idcard = this.phone
            let str1 = idcard.substring(0,3)
            let str2 = idcard.substring(8,11)
            let str = str1 + '******' + str2
            return str
        }
      }
  })
</script> 
{template $template.'/_footerv2'}