<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no">
		<meta name="full-screen" content="yes">
		<meta name="browsermode" content="application">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css"/>
		<title>
      报名信息填写
		</title>
  </head>
	<body>
		<div class="page-container" id="page-container">
			<van-form @failed="formSubmit" @submit="submitData">
				<!-- 姓名 -->
				<van-cell-group>
					<van-field 
						v-model="name" 
						label="姓名" 
						placeholder="请输入您的姓名" 
						maxlength = 8 
						show-error=false
						:rules="[{ required: true, message: '用户名不能为空' }]" 
						input-align="right"
						error-message-align="right"
					/>
					</van-popup>
				</van-cell-group>
				<!-- 身份证 -->
				<van-cell-group>
					<van-field 
						v-model="idcard" 
						label="身份证" 
						placeholder="请输入您的身份证"
						show-error="false"
						maxlength = 18 :rules="[{ required: true, message: '身份证信息不能为空' },{ validator: idcardReg, message: '请输入正确的身份证信息' }]"  
						input-align="right"
						error-message-align="right"
						mame="idcard"
					/>
        </van-cell-group>
        
        <!-- 报考省份 -->
				<van-cell-group>
					<van-field 
						v-model="sf" 
						label="报考省份" 
						readonly
						input-align="right"
						error-message-align="right"
					/>
				</van-cell-group>
				<!-- 院校 -->
				<van-cell-group>
					<van-field 
						v-model="school" 
						mame="school" 
						label="主考院校" 
						placeholder="请点击选择院校"
						input-align="right" 
						clickable readonly
						@click="schoolSelect"
					/>
				</van-cell-group>
				<!-- 层次 -->
				<van-cell-group>
					<van-field 
						v-model="level" 
						mame="level" 
						label="层次" 
						placeholder="请点击选择层次"
						input-align="right" 
						clickable 
						readonly
						@click="levelSelect"
					/>
				</van-cell-group>
				<!-- 专业 -->
				<van-cell-group>
					<van-field 
						v-model="major" 
						mame="major" 
						label="专业" 
						placeholder="请点击选择专业"
						input-align="right"
						clickable 
						readonly
						@click="majorSelect"
					/>
				</van-cell-group>
				<!-- 城市 -->
				<van-cell-group>
					<van-field 
						v-model="city" 
						mame="city" 
						label="城市" 
						placeholder="请点击选择城市"
						input-align="right"
						clickable 
						readonly
						@click="citySelect"
						/>
				</van-cell-group>
				<!-- 考试区县 -->
				<van-cell-group>
					<van-field 
						v-model="testing" 
						name="testing" 
						label="考试区县" 
						placeholder="请点击选择院校"
						input-align="right"
						clickable 
						readonly
						@click="testingSelect"
					/>
				</van-cell-group>
				<div style="margin: 16px;">
					<van-button round block color="#FF5A53" native-type="submit">
						下一步
					</van-button>
				</div>
			</van-form>

			<!-- 学校选择器 -->
			<van-popup v-model="showPicker" position="bottom">
				<van-picker
					show-toolbar
					:columns="schoolData"
					@confirm="schoolSelectClose"
					@cancel="showPicker = false"
				/>
			</van-popup>

			<!-- 层次选择器 -->
			<van-popup v-model="showPicker2" position="bottom">
				<van-picker
					show-toolbar
					:columns="levelData"
					@confirm="levelSelectClose"
					@cancel="showPicker = false"
				/>
			</van-popup>

			
			<!-- 专业选择器 -->
			<van-popup v-model="showPicker3" position="bottom">
				<van-picker
					show-toolbar
					:columns="majorData"
					@confirm="majorSelectClose"
					@cancel="showPicker = false"
				/>
			</van-popup>

			<!-- 城市选择器 -->
			<van-popup v-model="showPicker4" position="bottom">
				<van-picker
					show-toolbar
					:columns="cityData"
					@confirm="citySelectClose"
					@cancel="showPicker = false"
				/>
			</van-popup>

			<!-- 考试区县选择器 -->
			<van-popup v-model="showPicker5" position="bottom">
				<van-picker
					show-toolbar
					:columns="testingData"
					@confirm="testingSelectClose"
					@cancel="showPicker = false"
				/>
			</van-popup>
    </div>
</body>
<script type="text/javascript" src="{MODULE_URL}template/mobile/{$template}/style/jsv2/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
<script>
		var vm = new Vue({
        el: '#page-container',
        data (){
					return {
						name: '',
						idcard: '',
            sf: '四川省',
						school: '',
						level: '',
						major: '',
						city: '',
						testing: '',
						schoolData: ['杭州', '宁波', '温州', '嘉兴', '湖州'],
						levelData: ['专升本','高升专'],
						majorData: ['专业一','专业2','专业3','专业4','专业5','专业6'],
						showPicker: false,
						showPicker2: false,
						showPicker3: false,
						showPicker4: false,
						showPicker5: false,
						cityData: ['成都','新都','云南'],
						testingData: ['温江区','高新区','青羊区','青白江']
					}
				},
				created () {
					// 接收时，是中文需要解码
					let dd = unescape(this.getParameter ('major'))
					console.log(dd)
				},
        methods: {
					// 身份证正则验证
					idcardReg(val){
						let Reg = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/
						return Reg.test(val)
					},
					formSubmit(val) {
						console.log(val)
						this.$notify({ type: 'warning', message: '请先将信息填写完整'})
					},
					// 验证通过后提交信息
					submitData() {
						let _this = this
						let userMsg = {
							name: _this.name,
							idcard: _this.idcard,
							type: '2021筑梦计划',
							grade: '2021',
							school: _this.school,
							level: _this.level,
							major: _this.major,
							city: _this.city,
							testing: _this.testing
						}
            console.log(userMsg)
            let url = '{php echo $this->createMobileUrl("selectplan", array("do"=>"selectplan"));}'
            window.location.href = url
					},
					// 学校选择
					schoolSelect(){
						let _this = this
						if(_this.name == '' || _this.idcard == ''){
							_this.$notify({ type: 'warning', message: '请将姓名或身份证信息填写完整'})
							return
						} else{
							_this.showPicker = true
						}
					},

					schoolSelectClose(val){
						this.school = val
						this.showPicker = false
					},

					// 层次选择
					levelSelect() {
						let _this = this
						if(_this.school == ''){
							_this.$notify({ type: 'warning', message: '学校不能为空'})
							return
						} else {
							_this.showPicker2 = true
						}
					},
					levelSelectClose(val){
						this.level = val
						this.showPicker2 = false
					},

					// 专业选择
					majorSelect() {
						let _this = this
						if(_this.level == ''){
							_this.$notify({ type: 'warning', message: '层次不能为空'})
							return
						} else {
							_this.showPicker3 = true
						}
					},
					majorSelectClose(val){
						this.major = val
						this.showPicker3 = false
					},

					// 城市选择
					citySelect() {
						let _this = this
						if(_this.major == ''){
							_this.$notify({ type: 'warning', message: '专业不能为空'})
							return
						} else {
							_this.showPicker4 = true
						}
					},
					citySelectClose(val){
						this.city = val
						this.showPicker4 = false
					},

					// 考试区县选择
					testingSelect() {
						let _this = this
						if(_this.city == '') {
							_this.$notify({ type: 'warning', message: '城市不能为空'})
						} else {
							_this.showPicker5 = true
						}
					},
					testingSelectClose(val){
						this.testing = val
						this.showPicker5 = false
					},

					// 获取url参数的函数
					getParameter (name) {
						let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i") // 配置正则
						let r = window.location.search.substr(1).match(reg) // 获取url,根据正则匹配url中的参数
						if (r != null) {
							return unescape(r[2]) //如果参数存在，则解码返回参数
						} else {
								return null // 参数不存在，返回null
						}
					}
        }
    })
</script> 
</html>