<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no">
		<meta name="full-screen" content="yes">
		<meta name="browsermode" content="application">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css"/>
    <link rel="stylesheet" href="{MODULE_URL}template/mobile/{$template}/style/cssv2/mygoods.css">
		<title>
      商品详情
		</title>
  </head>
	<body>
		<div class="page-container" id="page-container">
      <div class="top_title">商品兑换</div>
      <div class="goods_detail">
        <div class="goods_img">
          <img src="{MODULE_URL}template/mobile/{$template}/images/index/shoppingmall/hotgoods.jpg" alt="">
        </div>
        <div class="goods_msg">
          <p class="title">商品标题</p>
          <p class="des">这个是一件商品，一件商品，一件商品</p>
          <div class="point">
            <div>
              <van-icon name="gold-coin" color="#ee0a24" size="16"></van-icon>
              {{computedPoint}}
            </div>
            <van-stepper v-model="value" min="1" max="10"  button-size="22"/>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <div>
        <div class="mes_title">请填写您的收货信息</div>
        <van-form @failed="failedSubmit" @submit="sucessSubmit" :show-error='false'>
          <!-- 姓名 -->
          <van-cell-group>
            <van-field 
              v-model="name" 
              label="姓名" 
              placeholder="请输入您的姓名" 
              maxlength = 8 
              show-error=false
              :rules="[{ required: true, message: '姓名不能为空' }]" 
              input-align="right"
              error-message-align="right"
            />
          </van-cell-group>

          <van-cell-group>
            <van-field 
              v-model="phone"
              label="电话号码" 
              placeholder="请输入您的电话号码"
              show-error="false"
              maxlength = 11 :rules="[{ required: true, message: '电话号码不能为空' },{ validator: phoneReg, message: '请输入正确的电话号码' }]"  
              input-align="right"
              error-message-align="right"
              mame="phone"
            />
          </van-cell-group>

          <van-cell-group>
            <van-field 
              v-model="address"
              label="收货地址" 
              placeholder="请输入您的详细地址"
              show-error="false"
              maxlength = 30 :rules="[{ required: true, message: '地址不能为空' }]"  
              input-align="right"
              error-message-align="right"
            />
          </van-cell-group>
                  
        <div v-if="address !== ''" class="address">
          <p><span class="text1">确认地址:</span>{{address}}</p>
        </div>

          <div style="margin: 16px;">
            <van-button round block type="info" native-type="submit" color="#c22338" :disabled="btnTF">
              立即兑换
            </van-button>
          </div>
        </van-form>
      </div>
    </div>
</body>
<script type="text/javascript" src="{MODULE_URL}template/mobile/{$template}/style/jsv2/jquery.min.js?v={$versions}"></script>
<script type="text/javascript" src="{MODULE_URL}template/mobile/{$template}/style/js/m-fit.js"></script>
<script type="text/javascript" src="{MODULE_URL}template/mobile/{$template}/style/jsv2/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
<script>
  var vm = new Vue({
      el: '#page-container',
      data () {
        return {
          value: 1,
          name: '',
          phone: null,
          address: '',
          btnTF: false,
          goodsPoint: 3000,
          mypoint: 5000
        }
      },
      created () {
        // 页面初始化时就判断用户积分是否能兑换此礼品，不足则禁用按钮。
        this.myPoint()
      },
      methods: {
        // 身份证正则验证
        phoneReg(val){
          let Reg = /^1(3|4|5|6|7|8|9)\d{9}$/
          return Reg.test(val)
        },
        // 信息提交
        failedSubmit () { // 验证未通过时
          console.log(1)
        },
        sucessSubmit () { // 验证通过时
          console.log(2)
        },

        // 积分比较
        myPoint() {
          let _this = this
          if(_this.mypoint > _this.goodsPoint) {
            _this.btnTF = false
          } else {
            _this.btnTF = true
            _this.$notify({ type: 'warning', message: '您的积分不足，无法兑换此商品'})
            console.log(_this.mypoint)
            console.log(_this.goodsPoint)
          }
        }
      },
      computed: {
        // 计算兑换所用总积分
        computedPoint () {
          return this.goodsPoint * this.value
        }
      },
      watch: {
        // 监听value数量变化，发生变化时，看积分是否足够，不足则禁用按钮。
        value(val){
          let allPoint = this.goodsPoint * val
          if(allPoint > this.mypoint){ // 积分大于兑换总额，禁用按钮
            this.btnTF = true
            this.$notify({ type: 'warning', message: '积分不足'})
          } else {
            this.btnTF = false
          }
        }
      }
  })
</script> 
</html>