@charset "UTF-8";
.iconfont {
	display: inline-block;
	font-family: "iconfont";
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,body {
	height: 100%;
	background: #F1F1F5;
	-webkit-tap-highlight-color: transparent;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	color: #333333;
	font-size: 14px;
	font-family: "TrebuchetMS","Rotobo","Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif, "Helvetica Neue", Helvetica, Arial;
}

h1,h2,h3,h4,h5,h6,i,em {
	font-weight: normal;
	font-style: normal;
}
input[type=submit], input[type=reset], input[type=button], button,select {
	-webkit-appearance: none;
}
ol,ul,menu {
	list-style: none outside none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{text-decoration:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);  }
a:focus{ outline:none; -moz-outline:none;}
a:visited{ outline:none; -moz-outline:none;} 
a:link,
a:visited,
a:hover,
a:active{
  color: #000;
  text-decoration: none;
}
a img {
	border: none;
}

/* 清除浮动 */
.clear { *zoom: 1; }
.clear:before, .clear:after { display: table; line-height: 0; content: "";}
.clear:after { clear: both; }

/* 页面整体布局 */
.page-container{
	position: relative;
	max-width: 640px;
	margin: 0 auto;
	height: 100%;
}
.navbar {
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	display: flex;
}
.nav_item {
	flex: 1;
	text-align: center;
}
.nav_item_on {
	position: relative;
	color: #F17976;
}
.nav_item_on::after {
	position: absolute;
	content: "";
	width: 1.6rem;
	height: 2px;
	margin: 0 auto;
	bottom: .16rem;
	left: .4rem;
	background-color: #F17976;
}
.panel {
	display: none;
}
.panel_on {
	display: block !important;
}
.advert {
	background: #fffaed;
	padding: .2rem .3rem;
	font-size: .26rem;
	color: #ff9256;
}
.advert span{
	font-size: .30rem;
	font-weight: 700;
}
.panerl_one {
	margin-bottom: .8rem;
}
.content_box {
	background: url(../../images/index/invite_gift_bg.jpg) no-repeat;
	background-size: 100%;
	position: relative;
	padding: 3.5rem 0 .4rem;
	background-color: #fff;
}
.rules {
	position: absolute;
	right: .5rem;
	top: .2rem;
	color: #fff;
}
.content_title {
	text-align: center;
	font-weight: 800;
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: .34rem;
	background-position-y: .16rem;
	margin-bottom: .3rem;
	color: #ee5d4c;
	position: relative;
}
.content_title::before{
	content: "";
	width: 1.4rem;
	height: .04rem;
	background-color: #ee5d4c;
	position: absolute;
	top: .25rem;
	left: .2rem;
}
.content_title::after{
	content: "";
	width: 1.4rem;
	height: .04rem;
	background-color: #ee5d4c;
	position: absolute;
	top: .25rem;
	right: .2rem;
}

.content_flow_img {
	width: 7.1rem;
	margin: 0 auto;
}

.content_flow_img img{
	width: 100%;
	object-fit: cover;
}
.content_question {
	width: 100%;
	color: #000;
	height: .8rem;
	line-height: .4rem;
	font-size: .24rem;
	font-weight: 800;
	text-align: left;
	margin-bottom: .3rem;
	padding-left: .4rem;
	margin-top: .3rem;
	box-sizing: border-box;
}
.content_question a{
	color: #ee5d4c;
}
.footer {
	position: fixed;
	width: 100%;
	max-width: 640px;
	height: .6rem;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#FF7966",endColorStr="#EE5C4D",gradientType="1");
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ff7966),to(#ee5c4d));
	background-image: linear-gradient(180deg,#ff7966,#ee5c4d);
	background-image: -webkit-liner-gradient(to bottom,#ff7966,#ee5c4d);
	background-image: -moz-linear-gradient(to bottom,#ff7966,#ee5c4d);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: .14rem 0;
}
.footer button {
	text-align: center;
	width: 50%;
	height: 100%;
	color: #fff;
	font-size: .28rem;
	font-weight: 800;
	background: transparent;
	border: none;
}
.footer button:first-child {
	border-right: 1px solid #ccc;
}

.footer button a {
	color: #fff;
}
.rules_show {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0,.5);
	z-index: 3;
}

.rules_text {
	position: absolute;
	width: 6rem;
	top: 1rem;
	left: .5rem;
	background-color: #fff;
	border-radius: 10px;
	padding: .5rem .3rem;
}

.rules_text .title {
	text-align: center;
	font-size: .32rem;
	font-weight: 600;
	margin-bottom: .35rem;
}
.rules_text .t0 {
	font-size: .3rem;
	font-weight: 600;
	margin-bottom: .2rem;
	text-align: left;
}

.rules_text .t1 {
	font-size: .28rem;
	color: #ee5d4c;
	margin-bottom: .35rem;
}
.rules_text .t2 {
	line-height: .5rem;
}
.rules_text .t2 span {
	color: #ee5d4c;
}

.rules_text .t3 {
	margin-top: .2rem;
	font-size: .24rem;
	color: #a29b9b;
}

.closeX {
	width: .3rem;
	position: absolute;
	top: .4rem;
	right: .4rem;
}

.rules_show_hidden {
	display: none;
}
/* 邀请排行榜 */
.panel_two {
	background-color: #FF3947;
}
.rank_top {
	width: 100%;
	height: 7.91rem;
	position: relative;
	background: url(../../images/index/rank_top_bg.png) no-repeat;
	background-size: 100%;
}
.month {
	position: absolute;
	font-size: .36rem;
	color: #fff;
	left: 3.1rem;
	top: 1.55rem;
}
.invite_friend {
	position: absolute;
	width: 6.3rem;
	bottom: .4rem;
	left: 50%;
	margin-left: -3.16rem;
}
.invite_friend .t1 {
	font-size: .3rem;
	line-height: .6rem;
	text-align: center;
	font-weight: 700;
}
.invite_friend .t2 {
	color: #fc5966;
	margin-bottom: .1rem;
	font-size: .3rem;
	line-height: .6rem;
	text-align: center;
	font-weight: 700;
}
.invite_friend_btn {
	display: block;
	width: 3.34rem;
	height: .7rem;
	text-align: center;
	line-height: .7rem;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#ff3847),to(#fc5966));
	background-image: linear-gradient(0deg,#ff3847,#fc5966);
	border: none;
	font-size: .36rem;
	margin: 0 auto;
	color: #fff;
}
.invite_friend .partner {
	margin: .2rem 0 0 .2rem;
}
.invite_friend .partner .head {
	float: left;
	width: 2.38rem;
	height: .6rem;
}
.invite_friend .partner .head img{
	width: .4rem;
	height: .4rem;
	border-radius: 50%;
	border: .04rem solid #fff;
	margin-right: -.26rem;
}

.enrolled {
	float: right;
	color: #484e80;
	border-bottom: 2px solid #484e80;
	font-size: .28rem;
	line-height: .4rem;
	font-weight: 700;
	margin-top: .06rem;
	margin-right: .1rem;
	position: relative;
}
/* 排行榜列表 */
.rank_panel_box {
	margin-top: .1rem;
}
.rank_list {
	width: 7.1rem;
	margin:0 auto;
	background-color: #fff;
	padding: 0 .2rem;
	box-sizing: border-box;
}
.rank_navbar {
	width: 100%;
	height: 1rem;
	display: flex;
	line-height: 1rem;
}
.rank_nav_item {
	flex: 1;
	text-align: center;
	color: #363636;
	font-size: .3rem;
	position: relative;
}
.rank_nav_on::after {
	content: "";
	width: 1rem;
	height: 2px;
	position: absolute;
	bottom: .1rem;
	left: 50%;
	margin-left: -.5rem;
	background-color: #FF3947;
}

.rank_panel {
	display: none;
}
.rank_panel_on {
	display: block !important;
}
.rank_list_title {
	width: 6.5rem;
	height: .74rem;
	background-color: #f65a51;
	border-radius: .36rem;
	margin: 0 .1rem;
}
.rank_list_title span{
	color: #fff;
	line-height: .74rem;
	float: left;
	text-align: center;
}
.rank_rank {
	width: 1.4rem;
}
.rank_user {
	width: 3.6rem;	
	text-align: left;
}

.rank_list_items {
	margin-top: .4rem;
	height: 8rem;
	overflow: scroll;
}
.rank_list_my {
	height: 1.25rem;
	padding: .3rem .1rem;
	border: 1px #f65a51 dashed;
	box-sizing: border-box;
	line-height: .7rem;
}
.rank_top_list {
	width: 1.25rem;
	float: left;
	text-align: left;
}
.rank_msg {
	float: left;
	width: 5.1rem;
	font-size: .26rem;
}
.rank_item_head {
	float: left;
	width: .7rem;
	height: .7rem;
	border-radius: 50%;
	margin-right: .1rem;
}
.rank_item_head img {
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.rank_item_content .invite_num {
	float: right;
	margin-right: .3rem;
}
.rank_list_item {
	height: 1.25rem;
	padding: .3rem .1rem;
	border-bottom: 1px #e8e8e8 solid;
	box-sizing: border-box;
	line-height: .7rem;
}
.ranking {
	float: left;
	width: 1.25rem;
}
.ranking_num {
	width: .6rem;
	height: 100%;
	line-height: .6rem;
	margin-left: .2rem;
	background: url(../../images/index/ranking_normal.png) no-repeat;
	background-size: 100%;
	text-align: center;
}

.ranking img {
	width: .5rem;
	margin-left: .2rem;
	object-fit: cover;
}

.rank_content_lt {
	float: left;
	line-height: .4rem;
}
.rank_content_rt {
	float: right;
	height:100%;
	line-height: .5rem;
	margin-top: -.3rem;
}
.rank_content_rt img{
	display: block;
	width: .64rem;
	height: .64rem;
	margin: .03rem auto;
}
.bulu {
	color: rgb(0,0,0,.4);
}
.footer_rank_update {
	color: #fff;
	width: 100%;
	font-weight: 600;
	text-align: center;
	margin-top: .5rem;
}

			/* 排行榜轮播  */
.banner_apply  {
	position: absolute;
  width: 5rem;
  font-size: 11px;
  height: .5rem;
  top: 1.2rem;
  left: .2rem;
  overflow: hidden;
  z-index: 2;
}
.banner_apply_box {
  position: absolute;
  top: 0;
  left: 0;
}
.banner_apply_item {
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: .24rem;
  width: 5rem;
  height: .5rem;
}

.banner_apply .img_box{
  float: left;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  margin-right: 5px;
}
.banner_apply .apply_text{
  height: .5rem;
  width: 4.8rem;
  line-height: .5rem;
	color: #ffffff;
}
.banner_apply .img_box img {
  width: 100%;
  border-radius: 50%;
}
.banner_apply .apply_name {
  margin-right: 3px;
}
/* 邀请攻略 */
.invite_method {
	position: absolute;
	top: 2rem;
	right: 0;
	width: 1.5rem;
	height: .6rem;
	line-height: .6rem;
	background-color: #fff;
	color: #000;
	font-weight: 700;
	text-align: center;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	box-shadow: 0 3px 0 rgba(228, 226, 14, 1);
}

/* 我的邀请 */
.my_invite_head {
	width: 100%;
	background: linear-gradient(135deg,#f09190,#f07877 66%,#f06e6c);
	color: #fff;
	padding: .4rem 0 .2rem;
}

.integral {
	display: flex;
}
.integral_lt,.integral_rt {
	text-align: center;
	flex: 1;
}
.integral_lt .view2,.integral_rt .view2{
	font-size: .56rem;
	font-weight: 600;
}
.my_invite_head .view3 {
	text-align: center;
	font-size: .28rem;
	font-weight: 600;
}
.integral_lt .view1 {
	position: relative;
}
.integral_lt .view1::after {
	content: "";
    background: url(../../images/index/my_invite_headicon.png) no-repeat;
    background-size: 100% 100%;
    width: .24rem;
    height: .24rem;
    position: absolute;
}

.nodata {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	color: rgb(0,0,0,.4);
}

.my_invite .weui-dialog__bd {
	font-size: .28rem;
}
.my_invite .weui-dialog__ft a{
	font-size: .28rem;
	color: #f65a51;
}