.panel_on {
  display: block !important;
}
.school_detail {
  margin-bottom: 1.2rem;
}
.school_detail .top_pic {
  width: 100%;
}
.school_detail .top_pic img{
  width: 100%;
  height: 2.3rem;
  object-fit: cover;
  display: block
}
/* 头部导航 */
.school_detail_navbar {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  display: flex;
}
.school_detail_navbar .school_navbar_item {
  flex: 1;
  height: 100%;
  background-color: #fff;
  text-align: center;
}

.school_navbar_on {
  color: #F25562;
  position: relative;
}
.school_navbar_on::after {
  content: "";
  position: absolute;
  width: .6rem;
  height: 2px;
  left: .9rem;
  bottom: .04rem;
  background-color: #F25562;
  border-radius: 2px;
  box-sizing: border-box;
}
.school_panel {
  background-color: #fff;
  padding-bottom: .5rem;
}
.school_panel .panel {
  display: none;
}

/* 招生主页 */
.recruit_student_main>.school_gift {
  width: 100%;
  height: 7.1rem;
  background: url(../../images/index/school_detail/school_gift_bigbg.png) no-repeat;
  background-size: 100%;
  position: relative;
  display:block;
}

.school_gift>.gift_title {
  position: absolute;
  width: 2.9rem;
  height: .4rem;
  text-align: center;
  background: url(../../images/index/school_detail/school_gift_titlebg.png) no-repeat;
  background-size: 100%;
  top: 1.8rem;
  left: 2.3rem;
  display:block;
}
.gift_title>.price {
  text-decoration:line-through
}
.recruit_student_main .gift_text {
  width: 6.25rem;
  font-size: .28rem;
  position: absolute;
  top: 2.4rem;
  left: 1.2rem;
}

.gift_text .star {
  width: .24rem;
  margin: 0 .1rem
}
.gift_text .star img {
  width: .24rem;
  object-fit: cover;
}
.recruit_student_main .gift_text p {
  margin-bottom: .2rem;
}
.gift_text>.bottom_text {
  color: rgba(23,6,6,.4);
  margin-left: .1rem;
}

.gift_btn{
  border: none;
  width: 2rem;
  height: .7rem;
  line-height: .7rem;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 3px 0 0 #fb6a14;
  box-shadow: 0 3px 0 0 #fb6a14;
  border-radius: .4rem;
  font-weight: 600;
  font-size: .32rem;
  color: #f06e6c;
  position: absolute;
  top: 5.6rem;
  left: 2.7rem;
} 
/* 专业以及收费 */
.recruit_student_main>.major_money {
  width: 96%;
  margin: 0 auto;
}
.major_money>.title {
  height: .8rem;
  line-height: .6rem;
  font-size: .32rem;
  margin-bottom: .3rem;
}
.major_money>.title>img {
  width: .64rem;
  height: .64rem;
  vertical-align: bottom;
}
.major_money>.content {
  width: 100%;
}
.major_money>.content img {
  width: 100%;
  object-fit: cover;
}

/* 上进故事 */
.good_story {
  width: 96%;
  margin: 0 auto;
}
.good_story>.title {
  height: .8rem;
  line-height: .6rem;
  font-size: .32rem;
  margin-bottom: .3rem;
}
.good_story>.title>img {
  width: .64rem;
  height: .64rem;
  vertical-align: bottom;
}
.good_story_banner {
  width: 100%;
  margin-bottom: .3rem;
  white-space:nowrap;
  overflow-x:scroll;
  overflow-y:hidden
}
.good_story_items {
  display: flex;
  margin-bottom: .2rem;
}
.good_story_item {
  width: 3.1rem;
  height: 5.2rem;
  margin-right: .3rem;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.06), 0 2px 3px 0 rgba(0,0,0,.04), 0 4px 6px 0 rgba(0,0,0,.04);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.06), 0 2px 3px 0 rgba(0,0,0,.04), 0 4px 6px 0 rgba(0,0,0,.04);
}
.good_story_item>.pic {
  width: 3.1rem;
  height: 3.1rem;
}
.good_story_item>.pic img{
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.good_story_item>.text {
  font-size: .26rem;
  margin: .2rem 0 .3rem .1rem;
  color: rgba(23,6,6,.8);
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.good_story_item>.date {
  position: absolute;
  font-size: .24rem;
  color: rgb(0,0,0,.4);
  left: .05rem;
  bottom: .1rem;
}

/* 留言区 */
.school_voice_box {
  padding-bottom: 1rem;
}
.school_voice_msg {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 .3rem;
  box-sizing: border-box;
}
.school_voice_msg .voice_message .message_item {
  width: 5.5rem;
}
.school_voice_msg>.title {
  height: .8rem;
  line-height: .6rem;
  font-size: .32rem;
  margin-bottom: .3rem;
}
.school_voice_msg>.title>img {
  width: .64rem;
  height: .64rem;
  vertical-align: bottom;
}

/* 学校介绍 */
.detail_content_head {
  width: 100%;
  padding: .1rem .1rem;
  box-sizing: border-box;
}
.detail_content_head .img_box {
  width: 100%;
  margin-bottom: .5rem;

}
.detail_content_head .img_box img{
  width: 100%;
  border-radius: 5px;
}
.detail_content_head>.text {
  width: 6rem;
  height: 3rem;
  overflow: hidden;
  font-size: .28rem;
  margin: 0 auto;
  text-indent:25px
}
.look_more {
  width: 100%;
}
.look_more>.more {
  width: 2rem;
  text-align: center;
  margin: 0 auto;
  font-size: .3rem;
  color: rgb(0,0,0,.4);
}
.look_more>.more>img {
  width: .8rem;
  object-fit: cover;
  margin-bottom: -.2rem;
}
.look_more>.up {
  width: 1rem;
  height: 1rem;
  font-size: .32rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 auto;
  color:rgb(0,0,0,.4);
}
.lookHidden {
  display: none !important;
}

/* 学员风采 */
.school_detail_student {
  width: 96%;
  margin: 0 auto;
}
.school_detail_student>.title {
  height: .8rem;
  line-height: .6rem;
  font-size: .32rem;
  margin-bottom: .3rem;
}
.school_detail_student>.title>img {
  width: .64rem;
  height: .64rem;
  vertical-align: bottom;
}
.school_detail_student .student_show>.foure_advantage_title {
  display: none;
}