body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Segoe UI,Arial,Roboto,PingFang SC,Hiragino Sans GB,Microsoft Yahei,sans-serif;
  background: #F2F2F2;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} 
p,span {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,i,em {
  font-weight: normal;
  font-style: normal;
}
input[type=submit], input[type=reset], input[type=button], button,select {
  -webkit-appearance: none;
}
ol,ul,menu {
  list-style: none outside none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{text-decoration:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);  }
a:focus{ outline:none; -moz-outline:none;}
a:visited{ outline:none; -moz-outline:none;} 
a img {
  border: none;
}
a:link,
a:visited,
a:hover,
a:active{
  color: #000;
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.text-center{
  text-align: center;
}
/* 清除浮动 */
.clear { *zoom: 1; }
.clear:before, .clear:after { display: table; line-height: 0; content: "";}
.clear:after { clear: both; }
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__label{
  color: #f16722;
}
.footer-nav .weui-tabbar__icon {
  border-radius: 50%;
}
.footer-nav{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
  max-width:640px;
    background-color: #fff;
    z-index: 101;
    color: #f16722;
  border-top: 1px solid #f1f0f5;
}
.footer-nav .weui-tabbar__label {
  color: #f16722;
  font-family: 'STSongti-SC-Light';
  font-weight: 700;
}
#page-container {
  background: #F2F2F2;
  width: 100%;
  max-width: 640px;
  font-size: .28rem;
  padding-bottom: 1rem;
}
.head {
  padding: .18rem .2rem;
  background: #F2F2F2;
  background: url({MODULE_URL}template/mobile/{$template}/images/self_topbg.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head_left {
  display: flex;
  align-items: center;
}

.head_header {
  width: 1.45rem;
  height: 1.45rem;
  margin: 0 .2rem 0 .05rem;
}
.head_header img {
  width: 100%;
  border-radius: 50%;
}
.head .name {
  font-size: .36rem;
  font-weight: 700;
  color: rgba(23,6,6,.8);
}
.my_msg>p {
  font-size: .24rem;
  color: rgba(23,6,6,.4);
}
.signin {
  width: 1.6rem;
  height:.7rem ;
  line-height: .7rem;
  color: #fff;
  background-color: #F07A7A;
  border-radius: .4rem;
  display: flex;
  align-items: center;
}
.signin .icon {
  margin-left: .25rem;
  margin-right: .05rem;
}

.main_container {
  padding: 0 .17rem;
}
.card {
  background-color: #fff;
  border-radius: 8px;
  padding: .2rem .2rem;
  margin: .2rem 0;
}
.card_title {
  width: 100%;
  height: .9rem;
  line-height: .7rem;
  border-bottom: 1px solid rgba(23,6,6,.07);
}
.title {
  width: 3rem;
  font-size: .36rem;
  font-weight: 700;
  color: rgba(23,6,6,.8);
  float: left;
}
.toshopping {
  float: right;
  width: 2.5rem;
}
.toshopping img {
  width: 100%;
}
.my_point {
  display: flex;
  align-items: center;
  margin: .3rem 0 0 .2rem;
  position: relative;
}
.my_point::after {
  content: "";
  width: 1px;
  height: 1.2rem;
  background-color: rgba(23,6,6,.07);
  position: absolute;
  top: .1rem;
  left: 2.8rem;
}
.my_point>div {
  flex: 1;
}
.my_point p{
  margin-bottom: .3rem;
  display: flex;
  align-items: center;
}
.my_point .van-icon {
  margin-right: .2rem;
}
.point_num {
  font-size: .4rem;
  font-weight: 700;
  color: rgba(23,6,6,.8);
}

.menu_list>.item {
  float: left;
  width: 25%;
  text-align: center;
  margin: .2rem 0;
}
.head_icon {
  width: .66rem;
  height: .66rem;
  background-color: #f08e8e69;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: .2rem;
}
.head_icon .van-icon {
  margin-top: .13rem;
}
.item_name {
  font-weight: 600;
  font-size: .24rem;
}